//--------------------
// Mixins - Layout
//--------------------

// Stretch Edges
@mixin stretch-edges() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Fixed width for container
@mixin fixed-width {
  max-width: $default-fixed-width;
  @include margin(sides, auto);
  @include padding(sides, $default-fixed-width-side-padding);
}

// Positioning
@mixin flex-centered() {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
};