.docContainer {
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	width: 100%;
}

.docHeading1 {
	font-size: var(--fontsize-heading4);
	margin-bottom: var(--size-md);
}

.docHeading2 {
	font-size: var(--fontsize-heading6);
	margin-bottom: var(--size-sm);
	color: var(--color-grey700);
}

.docHeading3 {
	font-size: var(--fontsize-fontsizeText1);
	margin-bottom: var(--size-sm);
	color: var(--color-grey600);
}

.docbox {
	border: 1px solid var(--color-grey300);
	border-radius: var(--size-tiny);
	margin-bottom: var(--size-xlg)
}

.docboxContent {
	padding: var(--size-lg) var(--size-md);
}

.docboxCode {
	background-color: var(--color-grey200);
	padding: var(--size-md);
	border-bottom-left-radius: var(--size-tiny);
	border-bottom-right-radius: var(--size-tiny);
	font-family: Monospace;
	color: var(--color-grey700);
}

.swatch {
	width: 200px;
	margin: 0 calc(var(--size-md)/2) var(--size-md);
}

.swatchColor {
	height: 100px;
	border-radius: var(--size-tiny);
}

.swatchText {
	padding: var(--size-xxsm) 0; 
	border-top: none;
	border-bottom-left-radius: var(--size-xxsm);
	border-bottom-right-radius: var(--size-xxsm);
}

.colTint {
	border-radius: var(--size-tiny);
	background-color: var(--color-grey100);
	padding: 10px 0;
	text-align: center;
}