.docHeading1 {
	font-size: var(--fontsize-heading4);
	margin-bottom: var(--size-md);
}

.docHeading2 {
	font-size: var(--fontsize-heading6);
	margin-bottom: var(--size-sm);
	color: var(--color-grey700);
}

.docHeading3 {
	font-size: var(--fontsize-fontsizeText1);
	margin-bottom: var(--size-sm);
	color: var(--color-grey600);
}

.docbox {
	border: 1px solid var(--color-grey300);
	border-radius: var(--size-tiny);
	margin-bottom: var(--size-xlg)
}

.docboxContent {
	padding: var(--size-md);
}

.docboxCode {
	background-color: var(--color-grey200);
	padding: var(--size-md);
	border-bottom-left-radius: var(--size-tiny);
	border-bottom-right-radius: var(--size-tiny);
	font-family: Monospace;
}