@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$fonts: map-merge($fonts, (code: 'Inconsolata'));

.Text--font-family-code { @include font-family(code); }

.Code {
  @include font-family(code);
  @include font-size-in-rem(1.6);
  line-height: 1.3;
  color: #5e6687;
}

.Code--attrVal    { color: #ac9739; }
.Code--attrName   { color: #c76b29; }
.Code--tag        { color: #3d8fd1; }
.Code--content    { @include color($default-color) }