//--------------------
//  General Sizing
//--------------------

$sizes: (
  none:   0px,
  one:    1px,
  two:    2px,
  tiny:   3px,
  xxsm:   5px,
  xsm:    10px,
  sm:     15px,
  md:     20px,
  lg:     30px,
  xlg:    45px,
  xxlg:   60px,
  jumbo:  120px
);

//--------------------
// Breakpoints
//--------------------

$breakpoints: (
  xsm:  480,
  sm:   768,
  md:   1024,
  lg:   1200,
  xlg:  1400
);

//--------------------
// Colors
//--------------------

$colors: ();
$colors: map-merge($colors, (white:           #ffffff));
$colors: map-merge($colors, (black:           #000000));
$colors: map-merge($colors, (offwhite:        #f9f9f9));
$colors: map-merge($colors, (midnight:        #111111));
$colors: map-merge($colors, (grey100:         #E6E6E6));
$colors: map-merge($colors, (grey200:         #C1C5C4));
$colors: map-merge($colors, (grey300:         #A8A8A8));
$colors: map-merge($colors, (grey400:         #909090));
$colors: map-merge($colors, (grey500:         #737776));
$colors: map-merge($colors, (grey600:         #5E5E5E));
$colors: map-merge($colors, (grey700:         #444444));
$colors: map-merge($colors, (grey800:         #2C2C2C));
$colors: map-merge($colors, (grey900:         #131716));
$colors: map-merge($colors, (primary:         #8086d8));
$colors: map-merge($colors, (primaryLight:    #dadcf4));
$colors: map-merge($colors, (primaryDark:     #4f59a6));
$colors: map-merge($colors, (secondary:       #202C41));
$colors: map-merge($colors, (secondaryLight:  #49556c));
$colors: map-merge($colors, (secondaryDark:   #1B2436));
$colors: map-merge($colors, (tertiary:        #FA1E5F));
$colors: map-merge($colors, (tertiaryLight:   #ff638c));
$colors: map-merge($colors, (tertiaryDark:    #c00036));
$colors: map-merge($colors, (red:             #ff0000));
$colors: map-merge($colors, (green:           #ffff00));
$colors: map-merge($colors, (blue:            #0000ff));
$colors: map-merge($colors, (yellow:          #ffff00));
$colors: map-merge($colors, (cyan:            #00ffff));
$colors: map-merge($colors, (magenta:         #ff00ff));
$colors: map-merge($colors, (orange:          #ff7f00)); // Red-Yellow
$colors: map-merge($colors, (pink:            #ff0080)); // Red-Magenta (Rose)
$colors: map-merge($colors, (purple:          #7f00ff)); // Blue-Magenta (Violet)
$colors: map-merge($colors, (azure:           #0080ff)); // Blue-Cyan
$colors: map-merge($colors, (teal:            #00ff7f)); // Green-Cyan (Spring Green)
$colors: map-merge($colors, (lime:            #80ff00)); // Green-Yellow (Chartreuse)
$colors: map-merge($colors, (info:            #007ACA));
$colors: map-merge($colors, (success:         #3EA157));
$colors: map-merge($colors, (warning:         #FF9A3D));
$colors: map-merge($colors, (error:           #DC1232));
$default-color: grey900;
$default-background-color: white;

//--------------------
// Fonts Text & Icons
//--------------------

@import url('https://use.fontawesome.com/releases/v5.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Quicksand:300,400,500,700|Varela');

$fonts: ();
$fonts: map-merge($fonts, (primary:   'Varela'));
$fonts: map-merge($fonts, (secondary: 'Quicksand'));

$default-font-family: primary;

$font-size: (
  tiny:   1.1,
  xxsm:   1.2,
  xsm:    1.4,
  sm:     1.5,
  md:     1.6,
  lg:     2,
  xlg:    3,
  xxlg:   4,
  jumbo:  6
);

$default-font-size: md;

$line-height: (
  tiny:   1.2,
  xxsm:   1.3,
  xsm:    1.6,
  sm:     2,
  md:     2.2,
  lg:     2.4,
  xlg:    3.2,
  xxlg:   4.2,
  jumbo:  6.2
);

//--------------------
// Layout
//--------------------

$default-fixed-width: 1470px;
$default-fixed-width-side-padding: sm;