.Nag {
	position: relative;
	/* height: 30px; */
	padding: var(--size-xsm);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--fontsize-text5);
	color: #fff;
}

.color_primary {
	background-color: var(--color-primary);
}

.color_primaryLight {
	background-color: var(--color-primaryLight);
}

.color_primaryDark {
	background-color: var(--color-primaryDark);
}

.color_secondary {
	background-color: var(--color-secondary);
}

.color_secondaryLight {
	background-color: var(--color-secondaryLight);
}

.color_secondaryDark {
	background-color: var(--color-secondaryDark);
}

.isActive_false {
	display: none;
}

.closeBtn {
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	color: #fff;
}