.button {
  cursor: pointer;
  position: relative;
  border-radius: var(--size-tiny);
  transition: all .2s;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

/* Size */
.size_xsm { height: var(--elheight-xsm); padding-left: var(--size-sm); padding-right: var(--size-sm); font-size: var(--fontsize-text5); }
.size_sm  { height: var(--elheight-sm); padding-left: var(--size-md); padding-right: var(--size-md); font-size: var(--fontsize-text4); }
.size_md  { height: var(--elheight-md); padding-left: var(--size-md); padding-right: var(--size-md); font-size: var(--fontsize-text3); }
.size_lg  { height: var(--elheight-lg); padding-left: var(--size-xlg); padding-right: var(--size-xlg); font-size: var(--fontsize-text2); }


/* Fill */
.color_primary.fill_true       { border: 1px solid var(--color-primary); color: var(--color-white); background-color: var(--color-primary); }
.color_primary.fill_false      { border: 1px solid var(--color-primary); color: var(--color-primary); background-color: var(--color-white); }
.color_secondary.fill_true     { border: 1px solid var(--color-secondary); color: var(--color-white); background-color: var(--color-secondary); }
.color_secondary.fill_false    { border: 1px solid var(--color-secondary); color: var(--color-secondary); background-color: var(--color-white); }
.color_tertiary.fill_true      { border: 1px solid var(--color-tertiary); color: var(--color-white); background-color: var(--color-tertiary); }
.color_tertiary.fill_false     { border: 1px solid var(--color-tertiary); color: var(--color-tertiary); background-color: var(--color-white); }
.color_grey.fill_true          { border: 1px solid var(--color-grey600); color: var(--color-white); background-color: var(--color-grey600); }
.color_grey.fill_false         { border: 1px solid var(--color-grey500); color: var(--color-grey700); background-color: var(--color-white); }
.color_white.fill_true         { border: 1px solid var(--color-white); color: var(--color-primary); background-color: var(--color-white); }
.color_white.fill_false        { border: 1px solid var(--color-grey500); color: var(--color-grey700); background-color: var(--color-white); }
.color_info.fill_true          { border: 1px solid var(--color-info); color: var(--color-white); background-color: var(--color-info); }
.color_info.fill_false         { border: 1px solid var(--color-info); color: var(--color-info); background-color: var(--color-white); }
.color_success.fill_true       { border: 1px solid var(--color-success); color: var(--color-white); background-color: var(--color-success); }
.color_success.fill_false      { border: 1px solid var(--color-success); color: var(--color-success); background-color: var(--color-white); }
.color_warning.fill_true       { border: 1px solid var(--color-warning); color: var(--color-white); background-color: var(--color-warning); }
.color_warning.fill_false      { border: 1px solid var(--color-warning); color: var(--color-warning); background-color: var(--color-white); }
.color_error.fill_true         { border: 1px solid var(--color-error); color: var(--color-white); background-color: var(--color-error); }
.color_error.fill_false        { border: 1px solid var(--color-error); color: var(--color-error); background-color: var(--color-white); }

/* Border */
.fill_false.border_false { border: 0; background: none; }

.fill_true:hover               { filter: brightness(115%); }
.fill_true:focus               { filter: brightness(112%); }
.fill_true:active              { filter: brightness(92%); }
.fill_true.disabled_true:hover { filter: brightness(100%); }
.fill_false:hover              { background-color: var(--color-grey100); }
.fill_false:active             { background-color: var(--color-grey200); }

/* Rounded */
.rounded_true { border-radius: var(--size-lg); }

/* Circle */
.circle_true { border-radius: 100%; justify-content: center; }
.circle_true.size_sm { width: var(--elheight-sm); padding-left: 0; padding-right: 0; }
.circle_true.size_md { width: var(--elheight-md); padding-left: 0; padding-right: 0; }
.circle_true.size_lg { width: var(--elheight-lg); padding-left: 0; padding-right: 0; }


/* Full Width */
.fullwidth_true { min-width: 100%; justify-content: center; }

/* Disabled */
.disabled_true { opacity: .5; cursor: not-allowed; }