.Button {
  cursor: pointer;
  position: relative;
  border-radius: var(--size-tiny);
  transition: all .5s;
  border: none;
}

/* Size */

.Button--size-sm {
  padding: 8px 10px;
  font-size: 1.3rem;
  line-height: 100%;
}

.Button--size-md {
  padding: 14px 20px;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
}

.Button--size-lg {
  padding: 18px 30px;
  font-size: 1.5rem;
  line-height: 100%;
  text-transform: uppercase;
}

.Button--size-xlg {
  padding: 22px 60px;
  font-size: 1.8rem;
  line-height: 100%;
  text-transform: uppercase;
}

.Button--size-width-xlg {
  padding-left: 60px;
  padding-right: 60px;
}

/* Display - Flex */

.Button--display-inline-block {
  display: inline-block;
}

.Button--display-block {
  display: block;
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

/* Fill */


/* Color should be worked into fill */

/* .Button--color-primary        { @include color(primary); }
.Button--color-primaryLight   { @include color(primaryLight); }
.Button--color-primaryDark    { @include color(primaryDark); }
.Button--color-secondary      { @include color(secondary); }
.Button--color-secondaryLight { @include color(secondaryLight); }
.Button--color-secondaryDark  { @include color(secondaryDark); }
.Button--color-teriary        { @include color(teriary); }
.Button--color-teriaryLight   { @include color(teriaryLight); }
.Button--color-teriaryDark    { @include color(teriaryDark); }
.Button--color-white          { @include color(white); }
.Button--color-black          { @include color(black); }
.Button--color-grey100        { @include color(grey100); }
.Button--color-grey200        { @include color(grey200); }
.Button--color-grey300        { @include color(grey300); }
.Button--color-grey400        { @include color(grey400); }
.Button--color-grey500        { @include color(grey500); }
.Button--color-info           { @include color(info); }
.Button--color-success        { @include color(success); }
.Button--color-warning        { @include color(warning); }
.Button--color-error          { @include color(error); } */

.Button--fill-false { background-color: transparent; }

/* .Button--fill-false.Button--color-primary { @include border(all, one, solid, primary); @include color(primary);
    &:hover.Button--disabled-false { @include background-color(primary); @include color(white); }
  }
  &.Button--color-secondary { @include border(all, one, solid, secondary); @include color(secondary);
    &:hover.Button--disabled-false { @include background-color(secondary); @include color(white); }
  }
  &.Button--color-tertiary { @include border(all, one, solid, tertiary); @include color(tertiary);
    &:hover.Button--disabled-false { @include background-color(tertiary); @include color(white); }
  }
  &.Button--color-grey100 { @include border(all, one, solid, grey100); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey100); @include color(white); }
  }
  &.Button--color-grey200 { @include border(all, one, solid, grey200); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey200); @include color(white); }
  }
  &.Button--color-grey300 { @include border(all, one, solid, grey300); @include color(grey400);
    &:hover.Button--disabled-false { @include background-color(grey300); @include color(white); }
  }
  &.Button--color-grey400 { @include border(all, one, solid, grey400); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey400); @include color(white); }
  }
  &.Button--color-grey500 { @include border(all, one, solid, grey500); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey500); @include color(white); }
  }
  &.Button--color-grey600 { @include border(all, one, solid, grey600); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey600); @include color(white); }
  }
  &.Button--color-grey700 { @include border(all, one, solid, grey700); @include color(grey900);
    &:hover.Button--disabled-false { @include background-color(grey700); @include color(white); }
  }
  &.Button--color-grey800 { @include border(all, one, solid, grey800); @include color(white);
    &:hover.Button--disabled-false { @include background-color(grey800); @include color(grey900); }
  }
  &.Button--color-grey900 { @include border(all, one, solid, grey900); @include color(white);
    &:hover.Button--disabled-false { @include background-color(grey900); @include color(grey900); }
  }
  &.Button--color-white { @include border(all, one, solid, white); @include color(white);
    &:hover.Button--disabled-false { @include background-color(white); @include color(grey900); }
  }
  &.Button--color-error { @include border(all, one, solid, error); @include color(error);
    &:hover.Button--disabled-false { @include background-color(error); @include color(white); }
  }
}

.Button--fill-true {
  &.Button--color-primary {
    @include background-color(primary);
    @include border(all, one, solid, primary);
    @include color(white);
    &:hover.Button--disabled-false {
      @include background-color(primaryDark);
    }
  }
  &.Button--color-secondary {
    @include background-color(secondary);
    @include border(all, one, solid, secondary);
    @include color(white);
    &:hover.Button--disabled-false {
      @include background-color(secondaryDark);
    }
  }
  &.Button--color-tertiary {
    @include background-color(tertiary);
    @include border(all, one, solid, tertiary);
    @include color(white);
    &:hover.Button--disabled-false {
      @include background-color(tertiaryDark);
    }
  }
  &.Button--color-grey200 {
    @include background-color(grey200);
    @include border(all, one, solid, grey200);
    @include color(white);
    &:hover.Button--disabled-false {
      @include background-color(grey500);
      @include border(all, one, solid, grey500);
    }
  }
  &.Button--color-grey300 {
    @include background-color(grey300);
    @include border(all, one, solid, grey300);
    @include color(white);
    &:hover.Button--disabled-false {
      @include background-color(grey500);
      @include border(all, one, solid, grey500);
    }
  }
  &.Button--color-white {
    @include background-color(white);
    @include color(primary);
    font-weight: 500;
  }
} */

.Button--disabled-true {
  opacity: .5;
  cursor: not-allowed;
}

.Button--pill-true {
  border-radius: var(--size-lg);
}