/* Common */

.field {
	position: relative;
	border: 1px solid var(--color-grey300);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	&:before {
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
		content: "";
		border-width: 4px;
		border-style: solid;
		border-color: transparent;
		border-radius: 6px;
		opacity: .2;
		transition: border .2s;
	}
	input,
	textarea,
	select {
		position: relative;
		z-index: 1;
	}
}

.label {
	display: block;
	margin-bottom: var(--size-xxsm);
	font-size: var(--fontsize-text4);
	font-weight: 500;
}

.sublabel {
	margin-left: var(--size-xsm);
	font-size: var(--fontsize-text4);
}

.helper {
	color: var(--color-grey700);
	font-size: var(--fontsize-text5);
}

/* Sizes */

.size_md {
	font-size: var(--fontsize-text3);
	.field { height: var(--elheight-md); } 
	.prepend,
	.append,
	select,
	input,
	&.checkbox .field,
	&.radio .field { 
		padding-left: var(--size-md);
		padding-right: var(--size-md);
	}
}

.textarea.rows_1 .field  { height: calc( (200px/11) * (1-1) + 50px); }
.textarea.rows_2 .field  { height: calc( (200px/11) * (2-1) + 50px); }
.textarea.rows_3 .field  { height: calc( (200px/11) * (3-1) + 50px); }
.textarea.rows_4 .field  { height: calc( (200px/11) * (4-1) + 50px); }
.textarea.rows_5 .field  { height: calc( (200px/11) * (5-1) + 50px); }
.textarea.rows_6 .field  { height: calc( (200px/11) * (6-1) + 50px); }
.textarea.rows_7 .field  { height: calc( (200px/11) * (7-1) + 50px); }
.textarea.rows_8 .field  { height: calc( (200px/11) * (8-1) + 50px); }
.textarea.rows_9 .field  { height: calc( (200px/11) * (9-1) + 50px); }
.textarea.rows_10 .field { height: calc( (200px/11) * (10-1) + 50px); }
.textarea.rows_11 .field { height: calc( (200px/11) * (11-1) + 50px); }
.textarea.rows_12 .field { height: calc( (200px/11) * (12-1) + 50px); }

/* States */

.field:focus-within,
.field:focus {
	border-color: var(--color-info);
	&:before { border-color: var(--color-info); }
}

.custom { color: var(--color-primary); }

.state_success {
	.label,
	.sublabel { color: var(--color-success); }
	.helper { color: var(--color-success); }
	.field {
		border-color: var(--color-success);
		input { color: var(--color-success); }
		&:before { border-color: var(--color-success); opacity: .3; }
	}
}

.state_error {
	.label,
	.sublabel { color: var(--color-error); }
	.helper { color: var(--color-error); }
	.field {
		border-color: var(--color-error);
		input { color: var(--color-error); }
		&:before { border-color: var(--color-error); opacity: .3; }
	}
}

.state_warning {
	.label,
	.sublabel { color: var(--color-warning); }
	.helper { color: var(--color-warning); }
	.field {
		border-color: var(--color-warning);
		input { color: var(--color-warning); }
		&:before { border-color: var(--color-warning); opacity: .3; }
	}
}

/* TextInput */

.textInput {
	position: relative;
	input {
		width: 100%;
		height: 100%;
		border: 0;
		&::placeholder {
			color: var(--color-grey500)
		}
	}
}

/* TextArea */

.textarea {
	position: relative;
	textarea {
		padding: var(--size-md);
		width: 100%;
		height: 100%;
		border-radius: 4px;
		font-size: var(--fontsize-text3);
		border: 0;
		&::placeholder {
			color: var(--color-grey500)
		}
	}
	.prepend,
	.append {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--color-grey100);
	}
	.prepend { border-right: 1px solid var(--color-grey300); }
	.append { border-left: 1px solid var(--color-grey300); }
}

/* Checkbox & Radio */

.checkbox,
.radio {
	display: inline-block;
	margin-right: var(--size-sm);
	&:last-child { margin-right: 0; }
	input { 
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.custom .unchecked {display: block; }
	.custom .checked {display: none; }
	input:checked + .custom .unchecked {display: none; }
	input:checked + .custom .checked {display: block; }
}

/* Select */

.select {
	select {
		width: 100%;
		height: 100%;
		border: 0px;
   	outline: 0px;
		background: none;
		appearance: none;
	}
	.icon {
		position: absolute;
		right: var(--size-md);
	}
}

/* formItemGroup */

.formItemGroup {

}