//--------------------
// Mixins - Typography
//--------------------

// Font Family
@mixin font-family($val) {
  font-family: map-get($fonts, $val);
}

// Font Sizes & Heights
@mixin font-size-in-rem($val: 1.6) {
    font-size: ($val * 10) + px;
    font-size: $val + rem;
}

@mixin line-height-in-rem($val: 1.6) {
  line-height: ($val * 10) + px;
  line-height: $val + rem;
}

@mixin font-size($val) {
  @include font-size-in-rem ( map-get($font-size, $val) );
  @include line-height-in-rem ( map-get($line-height, $val) );
}

// Text Colors
@mixin color($colorAsString) {
  $color: map-get($colors, $colorAsString);
  @if not map-has-key($colors, $colorAsString) {
    $color: $colorAsString;
  }
  color: $color;
}