/*--------------------/
	Sizes
/--------------------*/

:root { --size-zero:  0px; }
:root { --size-one:   1px; }
:root { --size-two:   2px; }
:root { --size-tiny:  3px; }
:root { --size-xxsm:  4px; }
:root { --size-xsm:   8px; }
:root { --size-sm:    12px; }
:root { --size-md:    16px; }
:root { --size-lg:    32px; }
:root { --size-xlg:   48px; }
:root { --size-xxlg:  64px; }
:root { --size-jumbo: 128px; }

/*--------------------/
	Colors (HSL)
/--------------------*/

/* Branding colors (Hue, Saturation, Lightness) */
:root { --color-primary-hue: 225; }
:root { --color-primary-saturation: 70%; }
:root { --color-primary-lightness: 65%; }
:root { --color-secondary-hue: 0; }
:root { --color-secondary-saturation: 70%; }
:root { --color-secondary-lightness: 60%; }
:root { --color-tertiary-hue: 48; }
:root { --color-tertiary-saturation: 75%; }
:root { --color-tertiary-lightness: 52%; }

/* Brand */
:root { --color-primary:         hsl(var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lightness)); }
:root { --color-primaryLight:    hsl(var(--color-primary-hue), calc(var(--color-primary-saturation) * 1.5), calc(var(--color-primary-lightness) + 10%)); }
:root { --color-primaryDark:     hsl(var(--color-primary-hue), calc(var(--color-primary-saturation) / 1.5), calc(var(--color-primary-lightness) - 10%)); }
:root { --color-secondary:       hsl(var(--color-secondary-hue), var(--color-secondary-saturation), var(--color-secondary-lightness)); }
:root { --color-secondaryLight:  hsl(var(--color-secondary-hue), calc(var(--color-secondary-saturation) * 1.5), calc(var(--color-secondary-lightness) + 10%)); }
:root { --color-secondaryDark:   hsl(var(--color-secondary-hue), calc(var(--color-secondary-saturation) / 1.5), calc(var(--color-secondary-lightness) - 10%)); }
:root { --color-tertiary:        hsl(var(--color-tertiary-hue), var(--color-tertiary-saturation), var(--color-tertiary-lightness)); }
:root { --color-tertiaryLight:   hsl(var(--color-tertiary-hue), calc(var(--color-tertiary-saturation) * 1.5), calc(var(--color-tertiary-lightness) + 10%)); }
:root { --color-tertiaryDark:    hsl(var(--color-tertiary-hue), calc(var(--color-tertiary-saturation) / 1.5), calc(var(--color-tertiary-lightness) - 10%)); }

/* Black & White */
:root { --color-white:           hsl(0, 0%, 100%); }
:root { --color-black:           hsl(0, 0%, 0%); }

/* Greys (with a tinge of primary hue) */
:root { --color-grey100:         hsl(var(--color-primary-hue), 10%, 95%); }
:root { --color-grey200:         hsl(var(--color-primary-hue), 10%, 90%); }
:root { --color-grey300:         hsl(var(--color-primary-hue), 10%, 85%); }
:root { --color-grey400:         hsl(var(--color-primary-hue), 10%, 80%); }
:root { --color-grey500:         hsl(var(--color-primary-hue), 10%, 70%); }
:root { --color-grey600:         hsl(var(--color-primary-hue), 10%, 60%); }
:root { --color-grey700:         hsl(var(--color-primary-hue), 10%, 45%); }
:root { --color-grey800:         hsl(var(--color-primary-hue), 10%, 30%); }
:root { --color-grey900:         hsl(var(--color-primary-hue), 10%, 15%); }

/* Others */
:root { --color-red:             #ff0000; }
:root { --color-green:           #00ff00; }
:root { --color-blue:            #0000ff; }
:root { --color-yellow:          #ffff00; }
:root { --color-cyan:            #00ffff; }
:root { --color-magenta:         #ff00ff; }
:root { --color-orange:          #ff7f00; }
:root { --color-pink:            #ff0080; }
:root { --color-purple:          #7f00ff; }
:root { --color-azure:           #0080ff; }
:root { --color-teal:            #00ff7f; }
:root { --color-lime:            #80ff00; }

/* UI */
:root { --color-info:            #007ACA; }
:root { --color-success:         #3EA157; }
:root { --color-warning:         #FF9A3D; }
:root { --color-error:           #DC1232; }

/*--------------------/
	Fonts & Sizes
/--------------------*/

:root { --font-primary: 'roboto'; }
:root { --font-secondary: 'Open Sans'; }
:root { --fontsize-1: '4.0'; }
:root { --fontsize-2: '3.2'; }
:root { --fontsize-3: '2.8'; }
:root { --fontsize-4: '2.4'; }
:root { --fontsize-5: '2.0'; }
:root { --fontsize-6: '1.6'; }

/*--------------------/
	Breakpoints
/--------------------*/

:root { --breakpoint-xsm: 480; }
:root { --breakpoint-sm: 768; }
:root { --breakpoint-md: 1024; }
:root { --breakpoint-lg: 1200; }
:root { --breakpoint-xlg: 1400; }