//--------------------
//  General Sizing
//--------------------

$sizes: (
  none:   0px,
  one:    1px,
  two:    2px,
  tiny:   3px,
  xxsm:   5px,
  xsm:    10px,
  sm:     15px,
  md:     20px,
  lg:     30px,
  xlg:    45px,
  xxlg:   60px,
  jumbo:  120px
);

//--------------------
// Breakpoints
//--------------------

$breakpoints: (
  xsm:  480,
  sm:   768,
  md:   1024,
  lg:   1200,
  xlg:  1400
);

//--------------------
// Colors
//--------------------

$colors: ();

$colors: map-merge($colors, (white:           #fff));
$colors: map-merge($colors, (offwhite:        #f9f9f9));
$colors: map-merge($colors, (black:           #111));
$colors: map-merge($colors, (blackNight:      #000));
$colors: map-merge($colors, (grey100:         #F5F7F9));
$colors: map-merge($colors, (grey200:         #e9ecef));
$colors: map-merge($colors, (grey300:         #dee2e6));
$colors: map-merge($colors, (grey400:         #ced4da));
$colors: map-merge($colors, (grey500:         #adb5bd));
$colors: map-merge($colors, (grey600:         #8898aa));
$colors: map-merge($colors, (grey700:         #525f7f));
$colors: map-merge($colors, (grey800:         #32325d));
$colors: map-merge($colors, (grey900:         #212529));
$colors: map-merge($colors, (primary:         #2196f3));
$colors: map-merge($colors, (primaryLight:    #4dabf5));
$colors: map-merge($colors, (primaryDark:     #1769aa));
$colors: map-merge($colors, (secondary:       #ff1744));
$colors: map-merge($colors, (secondaryLight:  #ff4569));
$colors: map-merge($colors, (secondaryDark:   #b2102f));
$colors: map-merge($colors, (info:            #00B9E1));
$colors: map-merge($colors, (infoLight:       #00B9E1));
$colors: map-merge($colors, (success:         #2FB688));
$colors: map-merge($colors, (successLight:    #2FB688));
$colors: map-merge($colors, (warning:         #FFB756));
$colors: map-merge($colors, (warningLight:    #FFB756));
$colors: map-merge($colors, (error:           #FF0949));
$colors: map-merge($colors, (errorLight:      #FF0949));

@warn $colors;

$default-color: grey900;
$default-background-color: white;

//--------------------
// Fonts Text & Icons
//--------------------

@import url('https://use.fontawesome.com/releases/v5.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Khula:300,400,600|Roboto:300,500,600');

$fonts: ();
$fonts: map-merge($fonts, (primary:   'Khula'));
$fonts: map-merge($fonts, (secondary: 'Roboto'));

$default-font-family: primary;

$font-size: (
  tiny:   1.1,
  xxsm:   1.2,
  xsm:    1.4,
  sm:     1.5,
  md:     1.6,
  lg:     2,
  xlg:    3,
  xxlg:   4,
  jumbo:  6
);

$default-font-size: md;

$line-height: (
  tiny:   1.2,
  xxsm:   1.3,
  xsm:    1.6,
  sm:     2,
  md:     2.2,
  lg:     2.4,
  xlg:    3.2,
  xxlg:   4.2,
  jumbo:  6.2
);

//--------------------
// Layout
//--------------------

$default-fixed-width: 1180px;
$default-fixed-width-side-padding: sm;