//--------------------
//  General Sizing
//--------------------

$sizes: (
  none:   0px,
  one:    1px,
  two:    2px,
  tiny:   3px,
  xxsm:   5px,
  xsm:    10px,
  sm:     15px,
  md:     20px,
  lg:     30px,
  xlg:    45px,
  xxlg:   60px,
  jumbo:  120px
);

//--------------------
// Breakpoints
//--------------------

$breakpoints: (
  xsm:  480,
  sm:   768,
  md:   1024,
  lg:   1200,
  xlg:  1400
);

//--------------------
// Colors
//--------------------

$colors: (
  white:           #fff,
  offwhite:        #f9f9f9,
  black:           #111,
  blackNight:      #000,
  grey100:         #f6f9fc,
  grey200:         #e9ecef,
  grey300:         #dee2e6,
  grey400:         #ced4da,
  grey500:         #adb5bd,
  grey600:         #8898aa,
  grey700:         #525f7f,
  grey800:         #32325d,
  grey900:         #212529,
  primary:         #2196f3,
  primaryLight:    #4dabf5,
  primaryDark:     #1769aa,
  secondary:       #ff1744,
  secondaryLight:  #ff4569,
  secondaryDark:   #b2102f,
  info:            #00B9E1,
  infoLight:       #00B9E1,
  success:         #2FB688,
  successLight:    #2FB688,
  warning:         #FFB756,
  warningLight:    #FFB756,
  error:           #FF0949,
  errorLight:      #FF0949
);

$default-color: black;
$default-background-color: white;

//--------------------
// Fonts Text & Icons
//--------------------

@import url('https://use.fontawesome.com/releases/v5.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Khula:300,400,600|Roboto:300,500,600');

$fonts: (
  primary:   'Khula',
  secondary: 'Roboto'
);

$default-font-family: primary;

$font-size: (
  tiny:   1.1,
  xxsm:   1.2,
  xsm:    1.4,
  sm:     1.5,
  md:     1.6,
  lg:     2,
  xlg:    3,
  xxlg:   4,
  jumbo:  6
);

$default-font-size: md;

$line-height: (
  tiny:   1.2,
  xxsm:   1.3,
  xsm:    1.6,
  sm:     2,
  md:     2.2,
  lg:     2.4,
  xlg:    3.2,
  xxlg:   4.2,
  jumbo:  6.2
);

//--------------------
// Layout
//--------------------

$default-fixed-width: 1180px;
$default-fixed-width-side-padding: sm;