/* Margins */
.marginZero          { margin: var(--size-zero); }
.marginTiny          { margin: var(--size-tiny); }
.marginXxsm          { margin: var(--size-xxsm); }
.marginXsm           { margin: var(--size-xsm); }
.marginSm            { margin: var(--size-sm); }
.marginMd            { margin: var(--size-md); }
.marginLg            { margin: var(--size-lg); }
.marginXlg           { margin: var(--size-xlg); }
.marginXxlg          { margin: var(--size-xxlg); }
.marginJumbo         { margin: var(--size-jumbo); }
.marginTopZero       { margin-top: var(--size-zero); }
.marginTopTiny       { margin-top: var(--size-tiny); }
.marginTopXxsm       { margin-top: var(--size-xxsm); }
.marginTopXsm        { margin-top: var(--size-xsm); }
.marginTopSm         { margin-top: var(--size-sm); }
.marginTopMd         { margin-top: var(--size-md); }
.marginTopLg         { margin-top: var(--size-lg); }
.marginTopXlg        { margin-top: var(--size-xlg); }
.marginTopXxlg       { margin-top: var(--size-xxlg); }
.marginTopJumbo      { margin-top: var(--size-jumbo); }
.marginRightZero     { margin-right: var(--size-zero); }
.marginRightTiny     { margin-right: var(--size-tiny); }
.marginRightXxsm     { margin-right: var(--size-xxsm); }
.marginRightXsm      { margin-right: var(--size-xsm); }
.marginRightSm       { margin-right: var(--size-sm); }
.marginRightMd       { margin-right: var(--size-md); }
.marginRightLg       { margin-right: var(--size-lg); }
.marginRightXlg      { margin-right: var(--size-xlg); }
.marginRightXxlg     { margin-right: var(--size-xxlg); }
.marginRightJumbo    { margin-right: var(--size-jumbo); }
.marginBottomZero    { margin-bottom: var(--size-zero); }
.marginBottomTiny    { margin-bottom: var(--size-tiny); }
.marginBottomXxsm    { margin-bottom: var(--size-xxsm); }
.marginBottomXsm     { margin-bottom: var(--size-xsm); }
.marginBottomSm      { margin-bottom: var(--size-sm); }
.marginBottomMd      { margin-bottom: var(--size-md); }
.marginBottomLg      { margin-bottom: var(--size-lg); }
.marginBottomXlg     { margin-bottom: var(--size-xlg); }
.marginBottomXxlg    { margin-bottom: var(--size-xxlg); }
.marginBottomJumbo   { margin-bottom: var(--size-jumbo); }
.marginLeftZero      { margin-left: var(--size-zero); }
.marginLeftTiny      { margin-left: var(--size-tiny); }
.marginLeftXxsm      { margin-left: var(--size-xxsm); }
.marginLeftXsm       { margin-left: var(--size-xsm); }
.marginLeftSm        { margin-left: var(--size-sm); }
.marginLeftMd        { margin-left: var(--size-md); }
.marginLeftLg        { margin-left: var(--size-lg); }
.marginLeftXlg       { margin-left: var(--size-xlg); }
.marginLeftXxlg      { margin-left: var(--size-xxlg); }
.marginLeftJumbo     { margin-left: var(--size-jumbo); }
.marginSidesAuto     { margin-left: auto; margin-right: auto; }
.marginSidesZero     { margin-left: var(--size-zero); margin-right: var(--size-zero); }
.marginSidesTiny     { margin-left: var(--size-tiny); margin-right: var(--size-tiny); }
.marginSidesXxsm     { margin-left: var(--size-xxsm); margin-right: var(--size-xxsm); }
.marginSidesXsm      { margin-left: var(--size-xsm); margin-right: var(--size-xsm); }
.marginSidesSm       { margin-left: var(--size-sm); margin-right: var(--size-sm); }
.marginSidesMd       { margin-left: var(--size-md); margin-right: var(--size-md); }
.marginSidesLg       { margin-left: var(--size-lg); margin-right: var(--size-lg); }
.marginSidesXlg      { margin-left: var(--size-xlg); margin-right: var(--size-xlg); }
.marginSidesXxlg     { margin-left: var(--size-xxlg); margin-right: var(--size-xxlg); }
.marginsidesJumbo    { margin-left: var(--size-jumbo); margin-right: var(--size-jumbo); }
.marginEndsZero      { margin-top: var(--size-zero); margin-bottom: var(--size-zero); }
.marginEndsTiny      { margin-top: var(--size-tiny); margin-bottom: var(--size-tiny); }
.marginEndsXxsm      { margin-top: var(--size-xxsm); margin-bottom: var(--size-xxsm); }
.marginEndsXsm       { margin-top: var(--size-xsm); margin-bottom: var(--size-xsm); }
.marginEndsSm        { margin-top: var(--size-sm); margin-bottom: var(--size-sm); }
.marginEndsMd        { margin-top: var(--size-md); margin-bottom: var(--size-md); }
.marginEndsLg        { margin-top: var(--size-lg); margin-bottom: var(--size-lg); }
.marginEndsXlg       { margin-top: var(--size-xlg); margin-bottom: var(--size-xlg); }
.marginEndsXxlg      { margin-top: var(--size-xxlg); margin-bottom: var(--size-xxlg); }
.marginEndsJumbo     { margin-top: var(--size-jumbo); margin-bottom: var(--size-jumbo); }

/* Paddings */
.paddingZero         { padding: var(--size-zero); }
.paddingTiny         { padding: var(--size-tiny); }
.paddingXxsm         { padding: var(--size-xxsm); }
.paddingXsm          { padding: var(--size-xsm); }
.paddingSm           { padding: var(--size-sm); }
.paddingMd           { padding: var(--size-md); }
.paddingLg           { padding: var(--size-lg); }
.paddingXlg          { padding: var(--size-xlg); }
.paddingXxlg         { padding: var(--size-xxlg); }
.paddingJumbo        { padding: var(--size-jumbo); }
.paddingTopZero      { padding-top: var(--size-zero); }
.paddingTopTiny      { padding-top: var(--size-tiny); }
.paddingTopXxsm      { padding-top: var(--size-xxsm); }
.paddingTopXsm       { padding-top: var(--size-xsm); }
.paddingTopSm        { padding-top: var(--size-sm); }
.paddingTopMd        { padding-top: var(--size-md); }
.paddingTopLg        { padding-top: var(--size-lg); }
.paddingTopXlg       { padding-top: var(--size-xlg); }
.paddingTopXxlg      { padding-top: var(--size-xxlg); }
.paddingTopJumbo     { padding-top: var(--size-jumbo); }
.paddingRightZero    { padding-right: var(--size-zero); }
.paddingRightTiny    { padding-right: var(--size-tiny); }
.paddingRightXxsm    { padding-right: var(--size-xxsm); }
.paddingRightXsm     { padding-right: var(--size-xsm); }
.paddingRightSm      { padding-right: var(--size-sm); }
.paddingRightMd      { padding-right: var(--size-md); }
.paddingRightLg      { padding-right: var(--size-lg); }
.paddingRightXlg     { padding-right: var(--size-xlg); }
.paddingRightXxlg    { padding-right: var(--size-xxlg); }
.paddingRightJumbo   { padding-right: var(--size-jumbo); }
.paddingBottomZero   { padding-bottom: var(--size-zero); }
.paddingBottomTiny   { padding-bottom: var(--size-tiny); }
.paddingBottomXxsm   { padding-bottom: var(--size-xxsm); }
.paddingBottomXsm    { padding-bottom: var(--size-xsm); }
.paddingBottomSm     { padding-bottom: var(--size-sm); }
.paddingBottomMd     { padding-bottom: var(--size-md); }
.paddingBottomLg     { padding-bottom: var(--size-lg); }
.paddingBottomXlg    { padding-bottom: var(--size-xlg); }
.paddingBottomXxlg   { padding-bottom: var(--size-xxlg); }
.paddingBottomJumbo  { padding-bottom: var(--size-jumbo); }
.paddingLeftZero     { padding-left: var(--size-zero); }
.paddingLeftTiny     { padding-left: var(--size-tiny); }
.paddingLeftXxsm     { padding-left: var(--size-xxsm); }
.paddingLeftXsm      { padding-left: var(--size-xsm); }
.paddingLeftSm       { padding-left: var(--size-sm); }
.paddingLeftMd       { padding-left: var(--size-md); }
.paddingLeftLg       { padding-left: var(--size-lg); }
.paddingLeftXlg      { padding-left: var(--size-xlg); }
.paddingLeftXxlg     { padding-left: var(--size-xxlg); }
.paddingLeftJumbo    { padding-left: var(--size-jumbo); }
.paddingSidesZero    { padding-left: var(--size-zero); padding-right: var(--size-zero); }
.paddingSidesTiny    { padding-left: var(--size-tiny); padding-right: var(--size-tiny); }
.paddingSidesXxsm    { padding-left: var(--size-xxsm); padding-right: var(--size-xxsm); }
.paddingSidesXsm     { padding-left: var(--size-xsm); padding-right: var(--size-xsm); }
.paddingSidesSm      { padding-left: var(--size-sm); padding-right: var(--size-sm); }
.paddingSidesMd      { padding-left: var(--size-md); padding-right: var(--size-md); }
.paddingSidesLg      { padding-left: var(--size-lg); padding-right: var(--size-lg); }
.paddingSidesXlg     { padding-left: var(--size-xlg); padding-right: var(--size-xlg); }
.paddingSidesXxlg    { padding-left: var(--size-xxlg); padding-right: var(--size-xxlg); }
.paddingSidesJumbo   { padding-left: var(--size-jumbo); padding-right: var(--size-jumbo); }
.paddingEndsZero     { padding-top: var(--size-zero); padding-bottom: var(--size-zero); }
.paddingEndsTiny     { padding-top: var(--size-tiny); padding-bottom: var(--size-tiny); }
.paddingEndsXxsm     { padding-top: var(--size-xxsm); padding-bottom: var(--size-xxsm); }
.paddingEndsXsm      { padding-top: var(--size-xsm); padding-bottom: var(--size-xsm); }
.paddingEndsSm       { padding-top: var(--size-sm); padding-bottom: var(--size-sm); }
.paddingEndsMd       { padding-top: var(--size-md); padding-bottom: var(--size-md); }
.paddingEndsLg       { padding-top: var(--size-lg); padding-bottom: var(--size-lg); }
.paddingEndsXlg      { padding-top: var(--size-xlg); padding-bottom: var(--size-xlg); }
.paddingEndsXxlg     { padding-top: var(--size-xxlg); padding-bottom: var(--size-xxlg); }
.paddingEndsJumbo    { padding-top: var(--size-jumbo); padding-bottom: var(--size-jumbo); }

/* Layout */
.displayNone         { display: none; }
.displayBlock        { display: block; }
.displayInline       { display: inline; }
.displayinlineBlock  { display: inline-block; }
.displayFlex         { display: flex; }
.positionStatic      { position: static; }
.positionRelative    { position: relative; }
.positionAbsolute    { position: absolute; }
.positionfixed       { position: fixed; }
.justifyCenter       { justify-content: center; }
.justifyStart        { justify-content: flex-start; }
.justifyEnd          { justify-content: flex-end; }
.justifyBetween      { justify-content: space-between; }
.justifyAround       { justify-content: space-around; }
.alignCenter         { align-items: center; }
.alignStretch        { align-items: stretch; }
.alignStart          { align-items: flex-start; }
.alignEnd            { align-items: flex-end; }
.alignBaseline       { align-items: baseline; }
.alignSelfStart      { align-self: flex-start; }
.alignSelf-end       { align-self: flex-end; }
.alignSelf-center    { align-self: center; }
.flexDirectionRow    { display: flex; flex-direction: row; }
.flexDirectionColumn { display: flex; flex-direction: column; }
.flexWrap            { flex-wrap: wrap; }
.flexNowrap          { flex-wrap: nowrap; }
.flexWrapReverse     { flex-wrap: wrap-reverse; }
.flexGrow1           { flex-grow: 1; }
.width100            { width: 100% }

/* Float */
.floatLeft  { float: left; }
.floatRight { float: right; }

/* Colors */
.colorWhite           { color: var(--color-white); }
.colorBlack           { color: var(--color-black); }
.colorGrey100         { color: var(--color-grey100); }
.colorGrey200         { color: var(--color-grey200); }
.colorGrey300         { color: var(--color-grey300); }
.colorGrey400         { color: var(--color-grey400); }
.colorGrey500         { color: var(--color-grey500); }
.colorGrey600         { color: var(--color-grey600); }
.colorGrey700         { color: var(--color-grey700); }
.colorGrey800         { color: var(--color-grey800); }
.colorGrey900         { color: var(--color-grey900); }
.colorPrimary         { color: var(--color-primary); }
.colorPrimaryLight    { color: var(--color-primaryLight); }
.colorPrimaryDark     { color: var(--color-primaryDark); }
.colorSecondary       { color: var(--color-secondary); }
.colorSecondaryLight  { color: var(--color-secondaryLight); }
.colorSecondaryDark   { color: var(--color-secondaryDark); }
.colorTertiary        { color: var(--color-tertiary); }
.colorTertiaryLight   { color: var(--color-tertiaryLight); }
.colorTertiaryDark    { color: var(--color-tertiaryDark); }
.colorRed             { color: var(--color-red); }
.colorGreen           { color: var(--color-green); }
.colorBlue            { color: var(--color-blue); }
.colorYellow          { color: var(--color-yellow); }
.colorCyan            { color: var(--color-cyan); }
.colorMagenta         { color: var(--color-magenta); }
.colorOrange          { color: var(--color-orange); }
.colorPink            { color: var(--color-pink); }
.colorPurple          { color: var(--color-purple); }
.colorAzure           { color: var(--color-azure); }
.colorTeal            { color: var(--color-teal); }
.colorLime            { color: var(--color-lime); }
.colorInfo            { color: var(--color-info); }
.colorSuccess         { color: var(--color-success); }
.colorWarning         { color: var(--color-warning); }
.colorError           { color: var(--color-error); }

/* Background Colors */
.backgroundColorWhite           { background-color: var(--color-white); }
.backgroundColorBlack           { background-color: var(--color-black); }
.backgroundColorGrey100         { background-color: var(--color-grey100); }
.backgroundColorGrey200         { background-color: var(--color-grey200); }
.backgroundColorGrey300         { background-color: var(--color-grey300); }
.backgroundColorGrey400         { background-color: var(--color-grey400); }
.backgroundColorGrey500         { background-color: var(--color-grey500); }
.backgroundColorGrey600         { background-color: var(--color-grey600); }
.backgroundColorGrey700         { background-color: var(--color-grey700); }
.backgroundColorGrey800         { background-color: var(--color-grey800); }
.backgroundColorGrey900         { background-color: var(--color-grey900); }
.backgroundColorPrimary         { background-color: var(--color-primary); }
.backgroundColorPrimaryLight    { background-color: var(--color-primaryLight); }
.backgroundColorPrimaryDark     { background-color: var(--color-primaryDark); }
.backgroundColorSecondary       { background-color: var(--color-secondary); }
.backgroundColorSecondaryLight  { background-color: var(--color-secondaryLight); }
.backgroundColorSecondaryDark   { background-color: var(--color-secondaryDark); }
.backgroundColorTertiary        { background-color: var(--color-tertiary); }
.backgroundColorTertiaryLight   { background-color: var(--color-tertiaryLight); }
.backgroundColorTertiaryDark    { background-color: var(--color-tertiaryDark); }
.backgroundColorRed             { background-color: var(--color-red); }
.backgroundColorGreen           { background-color: var(--color-green); }
.backgroundColorBlue            { background-color: var(--color-blue); }
.backgroundColorYellow          { background-color: var(--color-yellow); }
.backgroundColorCyan            { background-color: var(--color-cyan); }
.backgroundColorMagenta         { background-color: var(--color-magenta); }
.backgroundColorOrange          { background-color: var(--color-orange); }
.backgroundColorPink            { background-color: var(--color-pink); }
.backgroundColorPurple          { background-color: var(--color-purple); }
.backgroundColorAzure           { background-color: var(--color-azure); }
.backgroundColorTeal            { background-color: var(--color-teal); }
.backgroundColorLime            { background-color: var(--color-lime); }
.backgroundColorInfo            { background-color: var(--color-info); }
.backgroundColorSuccess         { background-color: var(--color-success); }
.backgroundColorWarning         { background-color: var(--color-warning); }
.backgroundColorError           { background-color: var(--color-error); }

/* Fonts */
.fontPrimary    { font-family: var(--font-primary), sans-serif; }
.fontSecondary  { font-family: var(--font-secondary), sans-serif; }

/* Font Weights */
.fontWeight100  { font-weight: 100; }
.fontWeight200  { font-weight: 200; }
.fontWeight300  { font-weight: 300; }
.fontWeight400  { font-weight: 400; }
.fontWeight500  { font-weight: 500; }
.fontWeight600  { font-weight: 600; }
.fontWeight700  { font-weight: 700; }
.fontWeight800  { font-weight: 800; }
.fontWeight900  { font-weight: 900; }

/* Font Sizes */
.fontsizeText1    { font-size: var(--fontsize-text1); }
.fontsizeText2    { font-size: var(--fontsize-text2); }
.fontsizeText3    { font-size: var(--fontsize-text3); }
.fontsizeText4    { font-size: var(--fontsize-text4); }
.fontsizeText5    { font-size: var(--fontsize-text5); }
.fontsizeText6    { font-size: var(--fontsize-text6); }
.fontsizeHeading1 { font-size: var(--fontsize-heading1); }
.fontsizeHeading2 { font-size: var(--fontsize-heading2); }
.fontsizeHeading3 { font-size: var(--fontsize-heading3); }
.fontsizeHeading4 { font-size: var(--fontsize-heading4); }
.fontsizeHeading5 { font-size: var(--fontsize-heading5); }
.fontsizeHeading6 { font-size: var(--fontsize-heading6); }

/* Text alignment */
.textAlignLeft     { text-align: left; }
.textAlignRight    { text-align: right; }
.textAlignCenter   { text-align: center; }
.textAlignJustify  { text-align: justify; }

/* Font styles */
.italic              { font-style: italic; }
.underline           { text-decoration: underline; }
.uppercase           { text-transform: uppercase; }
.capitalize          { text-transform: capitalize; }
.lineThrough         { text-decoration: line-through; }
.linkUnderline       { cursor: pointer; color: var(--color-primary); }
.linkUnderline:hover { text-decoration: underline; }
.linkDarken          { cursor: pointer; color: var(--color-primary); }
.linkDarken:hover    { color: darken(var(--color-primary), 20%) }
.linkLighten         { cursor: pointer; color: var(--color-primary); }
.linkLighten:hover   { color: lighten(var(--color-primary), 20%) }

/* Opacity */
.opacity0   { opacity: 0; }
.opacity5   { opacity: 5; }
.opacity10  { opacity: 10; }
.opacity20  { opacity: 20; }
.opacity30  { opacity: 30; }
.opacity40  { opacity: 40; }
.opacity50  { opacity: 50; }
.opacity60  { opacity: 60; }
.opacity70  { opacity: 70; }
.opacity80  { opacity: 80; }
.opacity90  { opacity: 90; }
.opacity100 { opacity: 100; }

/* Border Radius */
.borderRadiusZero             { border-radius: var(--size-zero); }
.borderRadiusTiny             { border-radius: var(--size-tiny); }
.borderRadiusXxsm             { border-radius: var(--size-xxsm); }
.borderRadiusXsm              { border-radius: var(--size-xsm); }
.borderRadiusSm               { border-radius: var(--size-sm); }
.borderRadiusMd               { border-radius: var(--size-md); }
.borderRadiusLg               { border-radius: var(--size-lg); }
.borderRadiusXlg              { border-radius: var(--size-xlg); }
.borderRadiusXxlg             { border-radius: var(--size-xxlg); }
.borderRadiusJumbo            { border-radius: var(--size-jumbo); }
.borderRadiusTopLeftZero      { border-top-left-radius: var(--size-zero); }
.borderRadiusTopLeftTiny      { border-top-left-radius: var(--size-tiny); }
.borderRadiusTopLeftXxsm      { border-top-left-radius: var(--size-xxsm); }
.borderRadiusTopLeftXsm       { border-top-left-radius: var(--size-xsm); }
.borderRadiusTopLeftSm        { border-top-left-radius: var(--size-sm); }
.borderRadiusTopLeftMd        { border-top-left-radius: var(--size-md); }
.borderRadiusTopLeftLg        { border-top-left-radius: var(--size-lg); }
.borderRadiusTopLeftXlg       { border-top-left-radius: var(--size-xlg); }
.borderRadiusTopLeftXxlg      { border-top-left-radius: var(--size-xxlg); }
.borderRadiusTopLeftJumbo     { border-top-left-radius: var(--size-jumbo); }
.borderRadiusTopRightZero     { border-top-right-radius: var(--size-zero); }
.borderRadiusTopRightTiny     { border-top-right-radius: var(--size-tiny); }
.borderRadiusTopRightXxsm     { border-top-right-radius: var(--size-xxsm); }
.borderRadiusTopRightXsm      { border-top-right-radius: var(--size-xsm); }
.borderRadiusTopRightSm       { border-top-right-radius: var(--size-sm); }
.borderRadiusTopRightMd       { border-top-right-radius: var(--size-md); }
.borderRadiusTopRightLg       { border-top-right-radius: var(--size-lg); }
.borderRadiusTopRightXlg      { border-top-right-radius: var(--size-xlg); }
.borderRadiusTopRightXxlg     { border-top-right-radius: var(--size-xxlg); }
.borderRadiusTopRightJumbo    { border-top-right-radius: var(--size-jumbo); }
.borderRadiusBottomLeftZero   { border-bottom-left-radius: var(--size-zero); }
.borderRadiusBottomLeftTiny   { border-bottom-left-radius: var(--size-tiny); }
.borderRadiusBottomLeftXxsm   { border-bottom-left-radius: var(--size-xxsm); }
.borderRadiusBottomLeftXsm    { border-bottom-left-radius: var(--size-xsm); }
.borderRadiusBottomLeftSm     { border-bottom-left-radius: var(--size-sm); }
.borderRadiusBottomLeftMd     { border-bottom-left-radius: var(--size-md); }
.borderRadiusBottomLeftLg     { border-bottom-left-radius: var(--size-lg); }
.borderRadiusBottomLeftXlg    { border-bottom-left-radius: var(--size-xlg); }
.borderRadiusBottomLeftXxlg   { border-bottom-left-radius: var(--size-xxlg); }
.borderRadiusBottomLeftJumbo  { border-bottom-left-radius: var(--size-jumbo); }
.borderRadiusBottomRightZero  { border-bottom-right-radius: var(--size-zero); }
.borderRadiusBottomRightTiny  { border-bottom-right-radius: var(--size-tiny); }
.borderRadiusBottomRightXxsm  { border-bottom-right-radius: var(--size-xxsm); }
.borderRadiusBottomRightXsm   { border-bottom-right-radius: var(--size-xsm); }
.borderRadiusBottomRightSm    { border-bottom-right-radius: var(--size-sm); }
.borderRadiusBottomRightMd    { border-bottom-right-radius: var(--size-md); }
.borderRadiusBottomRightLg    { border-bottom-right-radius: var(--size-lg); }
.borderRadiusBottomRightXlg   { border-bottom-right-radius: var(--size-xlg); }
.borderRadiusBottomRightXxlg  { border-bottom-right-radius: var(--size-xxlg); }
.borderRadiusBottomRightJumbo { border-bottom-right-radius: var(--size-jumbo); }
.borderRadiusTopZero          { border-top-left-radius: var(--size-zero); border-top-right-radius: var(--size-zero); }
.borderRadiusTopTiny          { border-top-left-radius: var(--size-tiny); border-top-right-radius: var(--size-tiny); }
.borderRadiusTopXxsm          { border-top-left-radius: var(--size-xxsm); border-top-right-radius: var(--size-xxsm); }
.borderRadiusTopXsm           { border-top-left-radius: var(--size-xsm); border-top-right-radius: var(--size-xsm); }
.borderRadiusTopSm            { border-top-left-radius: var(--size-sm); border-top-right-radius: var(--size-sm); }
.borderRadiusTopMd            { border-top-left-radius: var(--size-md); border-top-right-radius: var(--size-md); }
.borderRadiusTopLg            { border-top-left-radius: var(--size-lg); border-top-right-radius: var(--size-lg); }
.borderRadiusTopXlg           { border-top-left-radius: var(--size-xlg); border-top-right-radius: var(--size-xlg); }
.borderRadiusTopXxlg          { border-top-left-radius: var(--size-xxlg); border-top-right-radius: var(--size-xxlg); }
.borderRadiusTopJumbo         { border-top-left-radius: var(--size-jumbo); border-top-right-radius: var(--size-jumbo); }
.borderRadiusRightZero        { border-top-right-radius: var(--size-zero); border-bottom-right-radius: var(--size-zero); }
.borderRadiusRightTiny        { border-top-right-radius: var(--size-tiny); border-bottom-right-radius: var(--size-tiny); }
.borderRadiusRightXxsm        { border-top-right-radius: var(--size-xxsm); border-bottom-right-radius: var(--size-xxsm); }
.borderRadiusRightXsm         { border-top-right-radius: var(--size-xsm); border-bottom-right-radius: var(--size-xsm); }
.borderRadiusRightSm          { border-top-right-radius: var(--size-sm); border-bottom-right-radius: var(--size-sm); }
.borderRadiusRightMd          { border-top-right-radius: var(--size-md); border-bottom-right-radius: var(--size-md); }
.borderRadiusRightLg          { border-top-right-radius: var(--size-lg); border-bottom-right-radius: var(--size-lg); }
.borderRadiusRightXlg         { border-top-right-radius: var(--size-xlg); border-bottom-right-radius: var(--size-xlg); }
.borderRadiusRightXxlg        { border-top-right-radius: var(--size-xxlg); border-bottom-right-radius: var(--size-xxlg); }
.borderRadiusRightJumbo       { border-top-right-radius: var(--size-jumbo); border-bottom-right-radius: var(--size-jumbo); }
.borderRadiusBottomZero       { border-bottom-left-radius: var(--size-zero); border-bottom-right-radius: var(--size-zero); }
.borderRadiusBottomTiny       { border-bottom-left-radius: var(--size-tiny); border-bottom-right-radius: var(--size-tiny); }
.borderRadiusBottomXxsm       { border-bottom-left-radius: var(--size-xxsm); border-bottom-right-radius: var(--size-xxsm); }
.borderRadiusBottomXsm        { border-bottom-left-radius: var(--size-xsm); border-bottom-right-radius: var(--size-xsm); }
.borderRadiusBottomSm         { border-bottom-left-radius: var(--size-sm); border-bottom-right-radius: var(--size-sm); }
.borderRadiusBottomMd         { border-bottom-left-radius: var(--size-md); border-bottom-right-radius: var(--size-md); }
.borderRadiusBottomLg         { border-bottom-left-radius: var(--size-lg); border-bottom-right-radius: var(--size-lg); }
.borderRadiusBottomXlg        { border-bottom-left-radius: var(--size-xlg); border-bottom-right-radius: var(--size-xlg); }
.borderRadiusBottomXxlg       { border-bottom-left-radius: var(--size-xxlg); border-bottom-right-radius: var(--size-xxlg); }
.borderRadiusBottomJumbo      { border-bottom-left-radius: var(--size-jumbo); border-bottom-right-radius: var(--size-jumbo); }
.borderRadiusLeftZero         { border-top-left-radius: var(--size-zero); border-bottom-left-radius: var(--size-zero); }
.borderRadiusLeftTiny         { border-top-left-radius: var(--size-tiny); border-bottom-left-radius: var(--size-tiny); }
.borderRadiusLeftXxsm         { border-top-left-radius: var(--size-xxsm); border-bottom-left-radius: var(--size-xxsm); }
.borderRadiusLeftXsm          { border-top-left-radius: var(--size-xsm); border-bottom-left-radius: var(--size-xsm); }
.borderRadiusLeftSm           { border-top-left-radius: var(--size-sm); border-bottom-left-radius: var(--size-sm); }
.borderRadiusLeftMd           { border-top-left-radius: var(--size-md); border-bottom-left-radius: var(--size-md); }
.borderRadiusLeftLg           { border-top-left-radius: var(--size-lg); border-bottom-left-radius: var(--size-lg); }
.borderRadiusLeftXlg          { border-top-left-radius: var(--size-xlg); border-bottom-left-radius: var(--size-xlg); }
.borderRadiusLeftXxlg         { border-top-left-radius: var(--size-xxlg); border-bottom-left-radius: var(--size-xxlg); }
.borderRadiusLeftJumbo        { border-top-left-radius: var(--size-jumbo); border-bottom-left-radius: var(--size-jumbo); }

/* Z index */
.zIndex1 { z-index: 1; }
.zIndex2 { z-index: 2; }
.zIndex3 { z-index: 3; }
.zIndex4 { z-index: 4; }
.zIndex5 { z-index: 5; }

/* Clamp text */
.clampLine { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.clampLines {
	overflow: hidden;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: inherit;
}
.clampLines2 { -webkit-line-clamp: 2; }
.clampLines3 { -webkit-line-clamp: 3; }
.clampLines4 { -webkit-line-clamp: 4; }
.clampLines5 { -webkit-line-clamp: 5; }

/* Break long strings */
.breakLongStrings {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-moz-hyphens: auto;
}










/* to be deprecated */

.fixedWidth          { max-width: var(--fixedwidth-maxWidth); margin-left: auto; margin-right: auto; padding-left: var(--fixedwidth-sidePadding); padding-right: var(--fixedwidth-sidePadding); }
.flexCentered        { display: flex; justify-content: center; align-items: center; }
.minHeight100vh      { min-height: 100vh; }

/* Gutters */
.colsGutterXsm > * { padding-left: var(--size-xsm); padding-right: var(--size-xsm); }
.colsGutterXsm > :first-child { padding-left: var(--size-zero); }
.colsGutterXsm > :last-child { padding-right: var(--size-zero); }
.colsGutterSm > * { padding-left: var(--size-sm); padding-right: var(--size-sm); }
.colsGutterSm > :first-child { padding-left: var(--size-zero); }
.colsGutterSm > :last-child { padding-right: var(--size-zero); }
.colsGutterMd > * { padding-left: var(--size-md); padding-right: var(--size-md); }
.colsGutterMd > :first-child { padding-left: var(--size-zero); }
.colsGutterMd > :last-child { padding-right: var(--size-zero); }
.colsGutterLg > * { padding-left: var(--size-lg); padding-right: var(--size-lg); }
.colsGutterLg > :first-child { padding-left: var(--size-zero); }
.colsGutterLg > :last-child { padding-right: var(--size-zero); }
.colsGutterXlg > * { padding-left: var(--size-xlg); padding-right: var(--size-xlg); }
.colsGutterXlg > :first-child { padding-left: var(--size-zero); }
.colsGutterXlg > :last-child { padding-right: var(--size-zero); }
.colsGutterXxlg > * { padding-left: var(--size-xxlg); padding-right: var(--size-xxlg); }
.colsGutterXxlg > :first-child { padding-left: var(--size-zero); }
.colsGutterXxlg > :last-child { padding-right: var(--size-zero); }
.colsGutterJumbo > * { padding-left: var(--size-jumbo); padding-right: var(--size-jumbo); }
.colsGutterJumbo > :first-child { padding-left: var(--size-zero); }
.colsGutterJumbo > :last-child { padding-right: var(--size-zero); }

/* Widths & Heights */
.colWidth100    { flex-basis: 100%; min-width: 100% }
.colWidth90     { flex-basis: 90%; min-width: 90% }
.colWidth80     { flex-basis: 80%; min-width: 80% }
.colWidth75     { flex-basis: 75%; min-width: 75% }
.colWidth70     { flex-basis: 70%; min-width: 70% }
.colWidth66     { flex-basis: 66.66; min-width: 66.66% }
.colWidth60     { flex-basis: 60%; min-width: 60% }
.colWidth50     { flex-basis: 50%; min-width: 50% }
.colWidth40     { flex-basis: 40%; min-width: 40% }
.colWidth33     { flex-basis: 33%; min-width: 33%; }
.colWidth30     { flex-basis: 30%; min-width: 30% }
.colWidth25     { flex-basis: 25%; min-width: 25% }
.colWidth20     { flex-basis: 20%; min-width: 20% }
.colWidth10     { flex-basis: 10%; min-width: 10% }
.colWidth5      { flex-basis: 5%; min-width: 5% }
.colWidth0      { flex-basis: 0%; min-width: 0% }

.colWidth1of2   { flex-basis: calc((100%/2)*1); min-width: calc((100%/2)*1) }
.colWidth2of2   { flex-basis: calc((100%/2)*2); min-width: calc((100%/2)*2) }

.colWidth1of3   { flex-basis: calc((100%/3)*1); min-width: calc((100%/3)*1) }
.colWidth2of3   { flex-basis: calc((100%/3)*2); min-width: calc((100%/3)*2) }
.colWidth3of3   { flex-basis: calc((100%/3)*3); min-width: calc((100%/3)*3) }

.colWidth1of4   { flex-basis: calc((100%/4)*1); min-width: calc((100%/4)*1) }
.colWidth2of4   { flex-basis: calc((100%/4)*2); min-width: calc((100%/4)*2) }
.colWidth3of4   { flex-basis: calc((100%/4)*3); min-width: calc((100%/4)*3) }
.colWidth4of4   { flex-basis: calc((100%/4)*4); min-width: calc((100%/4)*4) }

.colWidth1of5   { flex-basis: calc((100%/5)*1); min-width: calc((100%/5)*1) }
.colWidth2of5   { flex-basis: calc((100%/5)*2); min-width: calc((100%/5)*2) }
.colWidth3of5   { flex-basis: calc((100%/5)*3); min-width: calc((100%/5)*3) }
.colWidth4of5   { flex-basis: calc((100%/5)*4); min-width: calc((100%/5)*4) }
.colWidth5of5   { flex-basis: calc((100%/5)*5); min-width: calc((100%/5)*5) }

.colWidth1of6   { flex-basis: calc((100%/6)*1); min-width: calc((100%/6)*1) }
.colWidth2of6   { flex-basis: calc((100%/6)*2); min-width: calc((100%/6)*2) }
.colWidth3of6   { flex-basis: calc((100%/6)*3); min-width: calc((100%/6)*3) }
.colWidth4of6   { flex-basis: calc((100%/6)*4); min-width: calc((100%/6)*4) }
.colWidth5of6   { flex-basis: calc((100%/6)*5); min-width: calc((100%/6)*5) }
.colWidth6of6   { flex-basis: calc((100%/6)*6); min-width: calc((100%/6)*6) }

.colWidth1of7   { flex-basis: calc((100%/7)*1); min-width: calc((100%/7)*1) }
.colWidth2of7   { flex-basis: calc((100%/7)*2); min-width: calc((100%/7)*2) }
.colWidth3of7   { flex-basis: calc((100%/7)*3); min-width: calc((100%/7)*3) }
.colWidth4of7   { flex-basis: calc((100%/7)*4); min-width: calc((100%/7)*4) }
.colWidth5of7   { flex-basis: calc((100%/7)*5); min-width: calc((100%/7)*5) }
.colWidth6of7   { flex-basis: calc((100%/7)*6); min-width: calc((100%/7)*6) }
.colWidth7of7   { flex-basis: calc((100%/7)*7); min-width: calc((100%/7)*7) }

.colWidth1of8   { flex-basis: calc((100%/8)*1); min-width: calc((100%/8)*1) }
.colWidth2of8   { flex-basis: calc((100%/8)*2); min-width: calc((100%/8)*2) }
.colWidth3of8   { flex-basis: calc((100%/8)*3); min-width: calc((100%/8)*3) }
.colWidth4of8   { flex-basis: calc((100%/8)*4); min-width: calc((100%/8)*4) }
.colWidth5of8   { flex-basis: calc((100%/8)*5); min-width: calc((100%/8)*5) }
.colWidth6of8   { flex-basis: calc((100%/8)*6); min-width: calc((100%/8)*6) }
.colWidth7of8   { flex-basis: calc((100%/8)*7); min-width: calc((100%/8)*7) }
.colWidth8of8   { flex-basis: calc((100%/8)*8); min-width: calc((100%/8)*8) }

.colWidth1of9   { flex-basis: calc((100%/9)*1); min-width: calc((100%/9)*1) }
.colWidth2of9   { flex-basis: calc((100%/9)*2); min-width: calc((100%/9)*2) }
.colWidth3of9   { flex-basis: calc((100%/9)*3); min-width: calc((100%/9)*3) }
.colWidth4of9   { flex-basis: calc((100%/9)*4); min-width: calc((100%/9)*4) }
.colWidth5of9   { flex-basis: calc((100%/9)*5); min-width: calc((100%/9)*5) }
.colWidth6of9   { flex-basis: calc((100%/9)*6); min-width: calc((100%/9)*6) }
.colWidth7of9   { flex-basis: calc((100%/9)*7); min-width: calc((100%/9)*7) }
.colWidth8of9   { flex-basis: calc((100%/9)*8); min-width: calc((100%/9)*8) }
.colWidth9of9   { flex-basis: calc((100%/9)*9); min-width: calc((100%/9)*9) }

.colWidth1of10   { flex-basis: calc((100%/10)*1); min-width: calc((100%/10)*1) }
.colWidth2of10   { flex-basis: calc((100%/10)*2); min-width: calc((100%/10)*2) }
.colWidth3of10   { flex-basis: calc((100%/10)*3); min-width: calc((100%/10)*3) }
.colWidth4of10   { flex-basis: calc((100%/10)*4); min-width: calc((100%/10)*4) }
.colWidth5of10   { flex-basis: calc((100%/10)*5); min-width: calc((100%/10)*5) }
.colWidth6of10   { flex-basis: calc((100%/10)*6); min-width: calc((100%/10)*6) }
.colWidth7of10   { flex-basis: calc((100%/10)*7); min-width: calc((100%/10)*7) }
.colWidth8of10   { flex-basis: calc((100%/10)*8); min-width: calc((100%/10)*8) }
.colWidth9of10   { flex-basis: calc((100%/10)*9); min-width: calc((100%/10)*9) }
.colWidth10of10  { flex-basis: calc((100%/10)*10); min-width: calc((100%/10)*10) }

.colWidth1of11   { flex-basis: calc((100%/11)*1); min-width: calc((100%/11)*1) }
.colWidth2of11   { flex-basis: calc((100%/11)*2); min-width: calc((100%/11)*2) }
.colWidth3of11   { flex-basis: calc((100%/11)*3); min-width: calc((100%/11)*3) }
.colWidth4of11   { flex-basis: calc((100%/11)*4); min-width: calc((100%/11)*4) }
.colWidth5of11   { flex-basis: calc((100%/11)*5); min-width: calc((100%/11)*5) }
.colWidth6of11   { flex-basis: calc((100%/11)*6); min-width: calc((100%/11)*6) }
.colWidth7of11   { flex-basis: calc((100%/11)*7); min-width: calc((100%/11)*7) }
.colWidth8of11   { flex-basis: calc((100%/11)*8); min-width: calc((100%/11)*8) }
.colWidth9of11   { flex-basis: calc((100%/11)*9); min-width: calc((100%/11)*9) }
.colWidth10of11  { flex-basis: calc((100%/11)*10); min-width: calc((100%/11)*10) }
.colWidth11of11  { flex-basis: calc((100%/11)*11); min-width: calc((100%/11)*11) }

.colWidth1of12   { flex-basis: calc((100%/12)*1); min-width: calc((100%/12)*1) }
.colWidth2of12   { flex-basis: calc((100%/12)*2); min-width: calc((100%/12)*2) }
.colWidth3of12   { flex-basis: calc((100%/12)*3); min-width: calc((100%/12)*3) }
.colWidth4of12   { flex-basis: calc((100%/12)*4); min-width: calc((100%/12)*4) }
.colWidth5of12   { flex-basis: calc((100%/12)*5); min-width: calc((100%/12)*5) }
.colWidth6of12   { flex-basis: calc((100%/12)*6); min-width: calc((100%/12)*6) }
.colWidth7of12   { flex-basis: calc((100%/12)*7); min-width: calc((100%/12)*7) }
.colWidth8of12   { flex-basis: calc((100%/12)*8); min-width: calc((100%/12)*8) }
.colWidth9of12   { flex-basis: calc((100%/12)*9); min-width: calc((100%/12)*9) }
.colWidth10of12  { flex-basis: calc((100%/12)*10); min-width: calc((100%/12)*10) }
.colWidth11of12  { flex-basis: calc((100%/12)*11); min-width: calc((100%/12)*11) }
.colWidth12of12  { flex-basis: calc((100%/12)*12); min-width: calc((100%/12)*12) }

.flexGrow2           { flex-grow: 2; }
.flexGrow3           { flex-grow: 3; }
.flexGrow4           { flex-grow: 4; }
.flexShrink1         { flex-shrink:1; }
.flexShrink2         { flex-shrink:2; }
.flexShrink3         { flex-shrink:3; }
.flexShrink4         { flex-shrink:4; }