
/* Margins */

:global .Utils--margin-bottom-xlg { margin-bottom: 30px; }



/* .Utils--margin-none          { margin: 0; } */
/* .Utils--margin-tiny          { margin: var(--size-tiny) }
.Utils--margin-xxsm          { @include margin(all, xxsm); }
.Utils--margin-xsm           { @include margin(all, xsm); }
.Utils--margin-sm            { @include margin(all, sm); }
.Utils--margin-md            { @include margin(all, md); }
.Utils--margin-lg            { @include margin(all, lg); }
.Utils--margin-xlg           { @include margin(all, xlg); }
.Utils--margin-xxlg          { @include margin(all, xxlg); }
.Utils--margin-jumbo         { @include margin(all, jumbo); }
.Utils--margin-top-none      { @include margin(top, 0); }
.Utils--margin-top-tiny      { @include margin(top, tiny); }
.Utils--margin-top-xxsm      { @include margin(top, xxsm); }
.Utils--margin-top-xsm       { @include margin(top, xsm); }
.Utils--margin-top-sm        { @include margin(top, sm); }
.Utils--margin-top-md        { @include margin(top, md); }
.Utils--margin-top-lg        { @include margin(top, lg); }
.Utils--margin-top-xlg       { @include margin(top, xlg); }
.Utils--margin-top-xxlg      { @include margin(top, xxlg); }
.Utils--margin-top-jumbo     { @include margin(top, jumbo); }
.Utils--margin-right-none    { @include margin(right, 0); }
.Utils--margin-right-tiny    { @include margin(right, tiny); }
.Utils--margin-right-xxsm    { @include margin(right, xxsm); }
.Utils--margin-right-xsm     { @include margin(right, xsm); }
.Utils--margin-right-sm      { @include margin(right, sm); }
.Utils--margin-right-md      { @include margin(right, md); }
.Utils--margin-right-lg      { @include margin(right, lg); }
.Utils--margin-right-xlg     { @include margin(right, xlg); }
.Utils--margin-right-xxlg    { @include margin(right, xxlg); }
.Utils--margin-right-jumbo   { @include margin(right, jumbo); }
.Utils--margin-bottom-none   { @include margin(bottom, 0); }
.Utils--margin-bottom-tiny   { @include margin(bottom, tiny); }
.Utils--margin-bottom-xxsm   { @include margin(bottom, xxsm); }
.Utils--margin-bottom-xsm    { @include margin(bottom, xsm); }
.Utils--margin-bottom-sm     { @include margin(bottom, sm); }
.Utils--margin-bottom-md     { @include margin(bottom, md); }
.Utils--margin-bottom-lg     { @include margin(bottom, lg); }
.Utils--margin-bottom-xlg    { @include margin(bottom, xlg); }
.Utils--margin-bottom-xxlg   { @include margin(bottom, xxlg); }
.Utils--margin-bottom-jumbo  { @include margin(bottom, jumbo); }
.Utils--margin-left-none     { @include margin(left, 0); }
.Utils--margin-left-tiny     { @include margin(left, tiny); }
.Utils--margin-left-xxsm     { @include margin(left, xxsm); }
.Utils--margin-left-xsm      { @include margin(left, xsm); }
.Utils--margin-left-sm       { @include margin(left, sm); }
.Utils--margin-left-md       { @include margin(left, md); }
.Utils--margin-left-lg       { @include margin(left, lg); }
.Utils--margin-left-xlg      { @include margin(left, xlg); }
.Utils--margin-left-xxlg     { @include margin(left, xxlg); }
.Utils--margin-left-jumbo    { @include margin(left, jumbo); }
.Utils--margin-sides-auto    { @include margin(sides, auto); }
.Utils--margin-sides-none    { @include margin(sides, 0); }
.Utils--margin-sides-tiny    { @include margin(sides, tiny); }
.Utils--margin-sides-xxsm    { @include margin(sides, xxsm); }
.Utils--margin-sides-xsm     { @include margin(sides, xsm); }
.Utils--margin-sides-sm      { @include margin(sides, sm); }
.Utils--margin-sides-md      { @include margin(sides, md); }
.Utils--margin-sides-lg      { @include margin(sides, lg); }
.Utils--margin-sides-xlg     { @include margin(sides, xlg); }
.Utils--margin-sides-xxlg    { @include margin(sides, xxlg); }
.Utils--margin-sides-jumbo   { @include margin(sides, jumbo); }
.Utils--margin-ends-none     { @include margin(ends, 0); }
.Utils--margin-ends-tiny     { @include margin(ends, tiny); }
.Utils--margin-ends-xxsm     { @include margin(ends, xxsm); }
.Utils--margin-ends-xsm      { @include margin(ends, xsm); }
.Utils--margin-ends-sm       { @include margin(ends, sm); }
.Utils--margin-ends-md       { @include margin(ends, md); }
.Utils--margin-ends-lg       { @include margin(ends, lg); }
.Utils--margin-ends-xlg      { @include margin(ends, xlg); }
.Utils--margin-ends-xxlg     { @include margin(ends, xxlg); }
.Utils--margin-ends-jumbo    { @include margin(ends, jumbo); } */

/* // Paddings
.Utils--padding-none          { @include padding(all, 0); }
.Utils--padding-tiny          { @include padding(all, tiny); }
.Utils--padding-xxsm          { @include padding(all, xxsm); }
.Utils--padding-xsm           { @include padding(all, xsm); }
.Utils--padding-sm            { @include padding(all, sm); }
.Utils--padding-md            { @include padding(all, md); }
.Utils--padding-lg            { @include padding(all, lg); }
.Utils--padding-xlg           { @include padding(all, xlg); }
.Utils--padding-xxlg          { @include padding(all, xxlg); }
.Utils--padding-jumbo         { @include padding(all, jumbo); }
.Utils--padding-top-none      { @include padding(top, 0); }
.Utils--padding-top-tiny      { @include padding(top, tiny); }
.Utils--padding-top-xxsm      { @include padding(top, xxsm); }
.Utils--padding-top-xsm       { @include padding(top, xsm); }
.Utils--padding-top-sm        { @include padding(top, sm); }
.Utils--padding-top-md        { @include padding(top, md); }
.Utils--padding-top-lg        { @include padding(top, lg); }
.Utils--padding-top-xlg       { @include padding(top, xlg); }
.Utils--padding-top-xxlg      { @include padding(top, xxlg); }
.Utils--padding-top-jumbo     { @include padding(top, jumbo); }
.Utils--padding-right-none    { @include padding(right, 0); }
.Utils--padding-right-tiny    { @include padding(right, tiny); }
.Utils--padding-right-xxsm    { @include padding(right, xxsm); }
.Utils--padding-right-xsm     { @include padding(right, xsm); }
.Utils--padding-right-sm      { @include padding(right, sm); }
.Utils--padding-right-md      { @include padding(right, md); }
.Utils--padding-right-lg      { @include padding(right, lg); }
.Utils--padding-right-xlg     { @include padding(right, xlg); }
.Utils--padding-right-xxlg    { @include padding(right, xxlg); }
.Utils--padding-right-jumbo   { @include padding(right, jumbo); }
.Utils--padding-bottom-none   { @include padding(bottom, 0); }
.Utils--padding-bottom-tiny   { @include padding(bottom, tiny); }
.Utils--padding-bottom-xxsm   { @include padding(bottom, xxsm); }
.Utils--padding-bottom-xsm    { @include padding(bottom, xsm); }
.Utils--padding-bottom-sm     { @include padding(bottom, sm); }
.Utils--padding-bottom-md     { @include padding(bottom, md); }
.Utils--padding-bottom-lg     { @include padding(bottom, lg); }
.Utils--padding-bottom-xlg    { @include padding(bottom, xlg); }
.Utils--padding-bottom-xxlg   { @include padding(bottom, xxlg); }
.Utils--padding-bottom-jumbo  { @include padding(bottom, jumbo); }
.Utils--padding-left-none     { @include padding(left, 0); }
.Utils--padding-left-tiny     { @include padding(left, tiny); }
.Utils--padding-left-xxsm     { @include padding(left, xxsm); }
.Utils--padding-left-xsm      { @include padding(left, xsm); }
.Utils--padding-left-sm       { @include padding(left, sm); }
.Utils--padding-left-md       { @include padding(left, md); }
.Utils--padding-left-lg       { @include padding(left, lg); }
.Utils--padding-left-xlg      { @include padding(left, xlg); }
.Utils--padding-left-xxlg     { @include padding(left, xxlg); }
.Utils--padding-left-jumbo    { @include padding(left, jumbo); }
.Utils--padding-sides-none    { @include padding(sides, 0); }
.Utils--padding-sides-tiny    { @include padding(sides, tiny); }
.Utils--padding-sides-xxsm    { @include padding(sides, xxsm); }
.Utils--padding-sides-xsm     { @include padding(sides, xsm); }
.Utils--padding-sides-sm      { @include padding(sides, sm); }
.Utils--padding-sides-md      { @include padding(sides, md); }
.Utils--padding-sides-lg      { @include padding(sides, lg); }
.Utils--padding-sides-xlg     { @include padding(sides, xlg); }
.Utils--padding-sides-xxlg    { @include padding(sides, xxlg); }
.Utils--padding-sides-jumbo   { @include padding(sides, jumbo); }
.Utils--padding-ends-none     { @include padding(ends, 0); }
.Utils--padding-ends-tiny     { @include padding(ends, tiny); }
.Utils--padding-ends-xxsm     { @include padding(ends, xxsm); }
.Utils--padding-ends-xsm      { @include padding(ends, xsm); }
.Utils--padding-ends-sm       { @include padding(ends, sm); }
.Utils--padding-ends-md       { @include padding(ends, md); }
.Utils--padding-ends-lg       { @include padding(ends, lg); }
.Utils--padding-ends-xlg      { @include padding(ends, xlg); }
.Utils--padding-ends-xxlg     { @include padding(ends, xxlg); }
.Utils--padding-ends-jumbo    { @include padding(ends, jumbo); } */

/* // Height & Width
.Utils--width-100per { width: 100%; }
.Utils--width-90per  { width: 90%; }
.Utils--width-80per  { width: 80%; }
.Utils--width-75per  { width: 75%; }
.Utils--width-70per  { width: 70%; }
.Utils--width-66per  { width: 66%; }
.Utils--width-60per  { width: 60%; }
.Utils--width-50per  { width: 50%; }
.Utils--width-40per  { width: 40%; }
.Utils--width-33per  { width: 33%; }
.Utils--width-30per  { width: 30%; }
.Utils--width-25per  { width: 25%; }
.Utils--width-20per  { width: 20%; }
.Utils--width-10per  { width: 10%; }
.Utils--width-5per   { width: 5%; }
.Utils--width-0per   { width: 0%; }
.Utils--height-100per     { height: 100%; }
.Utils--min-height-100per { min-height: 100%; }
.Utils--height-100vh      { height: 100vh; }
.Utils--min-height-100vh  { min-height: 100vh; } */

/* // Display
.Utils--display-none                  { display: none; }
.Utils--display-inline                { display: inline; }
.Utils--display-inline-block          { display: inline-block; }
.Utils--display-block                 { display: block; }
.Utils--display-flex                  { @include display-flex(); }
.Utils--display-inline-bpxlg          { @include bp(xlg) { display: inline; } }
.Utils--display-inline-block-bpxlg    { @include bp(xlg) { display: inline-block; } }
.Utils--display-block-bpxlg           { @include bp(xlg) { display: block; } }
.Utils--display-flex-bpxlg            { @include bp(xlg) { @include display-flex(); } }
.Utils--display-inline-bplg           { @include bp(lg) { display: inline; } }
.Utils--display-inline-block-bplg     { @include bp(lg) { display: inline-block; } }
.Utils--display-block-bplg            { @include bp(lg) { display: block; } }
.Utils--display-flex-bplg             { @include bp(lg) { @include display-flex(); } }
.Utils--display-none-bpmd             { @include bp(md) { display: none; } }
.Utils--display-inline-bpmd           { @include bp(md) { display: inline; } }
.Utils--display-inline-block-bpmd     { @include bp(md) { display: inline-block; } }
.Utils--display-block-bpmd            { @include bp(md) { display: block; } }
.Utils--display-flex-bpmd             { @include bp(md) { @include display-flex(); } }
.Utils--display-none-bpsm             { @include bp(sm) { display: none } }
.Utils--display-inline-bpsm           { @include bp(sm) { display: inline; } }
.Utils--display-inline-block-bpsm     { @include bp(sm) { display: inline-block; } }
.Utils--display-block-bpsm            { @include bp(sm) { display: block; } }
.Utils--display-flex-bpsm             { @include bp(sm) { @include display-flex(); } }
.Utils--display-none-bpxsm            { @include bp(xsm) { display: none; } }
.Utils--display-inline-bpxsm          { @include bp(xsm) { display: inline; } }
.Utils--display-inline-block-bpxsm    { @include bp(xsm) { display: inline-block; } }
.Utils--display-block-bpxsm           { @include bp(xsm) { display: block; } }
.Utils--display-flex-bpxsm            { @include bp(xsm) { @include display-flex(); } }
.Utils--display-none-bplg             { @include bp(lg) { display: none; } }
.Utils--display-none-bpxlg            { @include bp(xlg) { display: none; } } */

/* // Position
.Utils--position-static   { position: static; }
.Utils--position-relative { position: relative; }
.Utils--position-absolute { position: absolute; }
.Utils--position-fixed    { position: fixed; } */

/* Background Colors */
:global .Utils--background-color-white           { background-color: var(--color-white); }
:global .Utils--background-color-black           { background-color: var(--color-black); }
:global .Utils--background-color-grey100         { background-color: var(--color-grey100); }
:global .Utils--background-color-grey200         { background-color: var(--color-grey200); }
:global .Utils--background-color-grey300         { background-color: var(--color-grey300); }
:global .Utils--background-color-grey400         { background-color: var(--color-grey400); }
:global .Utils--background-color-grey500         { background-color: var(--color-grey500); }
:global .Utils--background-color-grey600         { background-color: var(--color-grey600); }
:global .Utils--background-color-grey700         { background-color: var(--color-grey700); }
:global .Utils--background-color-grey800         { background-color: var(--color-grey800); }
:global .Utils--background-color-grey900         { background-color: var(--color-grey900); }
:global .Utils--background-color-primary         { background-color: var(--color-primary); }
:global .Utils--background-color-primaryLight    { background-color: var(--color-primaryLight); }
:global .Utils--background-color-primaryDark     { background-color: var(--color-primaryDark); }
:global .Utils--background-color-secondary       { background-color: var(--color-secondary); }
:global .Utils--background-color-secondaryLight  { background-color: var(--color-secondaryLight); }
:global .Utils--background-color-secondaryDark   { background-color: var(--color-secondaryDark); }
:global .Utils--background-color-tertiary        { background-color: var(--color-tertiary); }
:global .Utils--background-color-tertiaryLight   { background-color: var(--color-tertiaryLight); }
:global .Utils--background-color-tertiaryDark    { background-color: var(--color-tertiaryDark); }
:global .Utils--background-color-red             { background-color: var(--color-red); }
:global .Utils--background-color-green           { background-color: var(--color-green); }
:global .Utils--background-color-blue            { background-color: var(--color-blue); }
:global .Utils--background-color-yellow          { background-color: var(--color-yellow); }
:global .Utils--background-color-cyan            { background-color: var(--color-cyan); }
:global .Utils--background-color-magenta         { background-color: var(--color-magenta); }
:global .Utils--background-color-orange          { background-color: var(--color-orange); }
:global .Utils--background-color-pink            { background-color: var(--color-pink); }
:global .Utils--background-color-purple          { background-color: var(--color-purple); }
:global .Utils--background-color-azure           { background-color: var(--color-azure); }
:global .Utils--background-color-teal            { background-color: var(--color-teal); }
:global .Utils--background-color-lime            { background-color: var(--color-lime); }
:global .Utils--background-color-info            { background-color: var(--color-info); }
:global .Utils--background-color-success         { background-color: var(--color-success); }
:global .Utils--background-color-warning         { background-color: var(--color-warning); }
:global .Utils--background-color-error           { background-color: var(--color-error); }

/* // Opacity
.Utils--opacity-0   { opacity: 0; }
.Utils--opacity-5   { opacity: 5; }
.Utils--opacity-10  { opacity: 10; }
.Utils--opacity-20  { opacity: 20; }
.Utils--opacity-30  { opacity: 30; }
.Utils--opacity-40  { opacity: 40; }
.Utils--opacity-50  { opacity: 50; }
.Utils--opacity-60  { opacity: 60; }
.Utils--opacity-70  { opacity: 70; }
.Utils--opacity-80  { opacity: 80; }
.Utils--opacity-90  { opacity: 90; }
.Utils--opacity-100 { opacity: 100; } */

/* // Borders
.Utils--border-top-one-solid-grey300    { @include border(top, one, solid, grey300); }
.Utils--border-bottom-one-solid-grey300 { @include border(bottom, one, solid, grey300); } */

/* // Border Radius
.Utils--border-radius-none          { @include border-radius(all, 0); }
.Utils--border-radius-tiny          { @include border-radius(all, tiny); }
.Utils--border-radius-xxsm          { @include border-radius(all, xxsm); }
.Utils--border-radius-xsm           { @include border-radius(all, xsm); }
.Utils--border-radius-sm            { @include border-radius(all, sm); }
.Utils--border-radius-md            { @include border-radius(all, md); }
.Utils--border-radius-lg            { @include border-radius(all, lg); }
.Utils--border-radius-xlg           { @include border-radius(all, xlg); }
.Utils--border-radius-xxlg          { @include border-radius(all, xxlg); }
.Utils--border-radius-jumbo         { @include border-radius(all, jumbo); }
.Utils--border-radius-full          { @include border-radius(all, 100%); }
.Utils--border-radius-top-none      { @include border-radius(top, 0); }
.Utils--border-radius-top-tiny      { @include border-radius(top, tiny); }
.Utils--border-radius-top-xxsm      { @include border-radius(top, xxsm); }
.Utils--border-radius-top-xsm       { @include border-radius(top, xsm); }
.Utils--border-radius-top-sm        { @include border-radius(top, sm); }
.Utils--border-radius-top-md        { @include border-radius(top, md); }
.Utils--border-radius-top-lg        { @include border-radius(top, lg); }
.Utils--border-radius-top-xlg       { @include border-radius(top, xlg); }
.Utils--border-radius-top-xxlg      { @include border-radius(top, xxlg); }
.Utils--border-radius-top-jumbo     { @include border-radius(top, jumbo); }
.Utils--border-radius-right-none    { @include border-radius(right, 0); }
.Utils--border-radius-right-tiny    { @include border-radius(right, tiny); }
.Utils--border-radius-right-xxsm    { @include border-radius(right, xxsm); }
.Utils--border-radius-right-xsm     { @include border-radius(right, xsm); }
.Utils--border-radius-right-sm      { @include border-radius(right, sm); }
.Utils--border-radius-right-md      { @include border-radius(right, md); }
.Utils--border-radius-right-lg      { @include border-radius(right, lg); }
.Utils--border-radius-right-xlg     { @include border-radius(right, xlg); }
.Utils--border-radius-right-xxlg    { @include border-radius(right, xxlg); }
.Utils--border-radius-right-jumbo   { @include border-radius(right, jumbo); }
.Utils--border-radius-bottom-none   { @include border-radius(bottom, 0); }
.Utils--border-radius-bottom-tiny   { @include border-radius(bottom, tiny); }
.Utils--border-radius-bottom-xxsm   { @include border-radius(bottom, xxsm); }
.Utils--border-radius-bottom-xsm    { @include border-radius(bottom, xsm); }
.Utils--border-radius-bottom-sm     { @include border-radius(bottom, sm); }
.Utils--border-radius-bottom-md     { @include border-radius(bottom, md); }
.Utils--border-radius-bottom-lg     { @include border-radius(bottom, lg); }
.Utils--border-radius-bottom-xlg    { @include border-radius(bottom, xlg); }
.Utils--border-radius-bottom-xxlg   { @include border-radius(bottom, xxlg); }
.Utils--border-radius-bottom-jumbo  { @include border-radius(bottom, jumbo); }
.Utils--border-radius-left-none     { @include border-radius(left, 0); }
.Utils--border-radius-left-tiny     { @include border-radius(left, tiny); }
.Utils--border-radius-left-xxsm     { @include border-radius(left, xxsm); }
.Utils--border-radius-left-xsm      { @include border-radius(left, xsm); }
.Utils--border-radius-left-sm       { @include border-radius(left, sm); }
.Utils--border-radius-left-md       { @include border-radius(left, md); }
.Utils--border-radius-left-lg       { @include border-radius(left, lg); }
.Utils--border-radius-left-xlg      { @include border-radius(left, xlg); }
.Utils--border-radius-left-xxlg     { @include border-radius(left, xxlg); }
.Utils--border-radius-left-jumbo    { @include border-radius(left, jumbo); }
.Utils--border-radius-sides-auto    { @include border-radius(sides, auto); }
.Utils--border-radius-sides-none    { @include border-radius(sides, 0); }
.Utils--border-radius-sides-tiny    { @include border-radius(sides, tiny); }
.Utils--border-radius-sides-xxsm    { @include border-radius(sides, xxsm); }
.Utils--border-radius-sides-xsm     { @include border-radius(sides, xsm); }
.Utils--border-radius-sides-sm      { @include border-radius(sides, sm); }
.Utils--border-radius-sides-md      { @include border-radius(sides, md); }
.Utils--border-radius-sides-lg      { @include border-radius(sides, lg); }
.Utils--border-radius-sides-xlg     { @include border-radius(sides, xlg); }
.Utils--border-radius-sides-xxlg    { @include border-radius(sides, xxlg); }
.Utils--border-radius-sides-jumbo   { @include border-radius(sides, jumbo); }
.Utils--border-radius-ends-none     { @include border-radius(ends, 0); }
.Utils--border-radius-ends-tiny     { @include border-radius(ends, tiny); }
.Utils--border-radius-ends-xxsm     { @include border-radius(ends, xxsm); }
.Utils--border-radius-ends-xsm      { @include border-radius(ends, xsm); }
.Utils--border-radius-ends-sm       { @include border-radius(ends, sm); }
.Utils--border-radius-ends-md       { @include border-radius(ends, md); }
.Utils--border-radius-ends-lg       { @include border-radius(ends, lg); }
.Utils--border-radius-ends-xlg      { @include border-radius(ends, xlg); }
.Utils--border-radius-ends-xxlg     { @include border-radius(ends, xxlg); }
.Utils--border-radius-ends-jumbo    { @include border-radius(ends, jumbo); } */

/* // Float
.Utils--float-left  { float: left; }
.Utils--float-right { float: right; } */