.container       { display: flex; flex-direction: column; width: 100%; position: relative; }
.fixedWidth_true { max-width: var(--fixedwidth-maxWidth); margin-left: auto; margin-right: auto; padding-left: var(--fixedwidth-sidePadding); padding-right: var(--fixedwidth-sidePadding); }
.centered_true   { display: flex; justify-content: center; align-items: center; }
.min100vh_true   { min-height: 100vh; }

.row { display: flex; width: 100%; }

.gutter_zero > * { padding-left: var(--size-zero); padding-right: var(--size-zero); }
.gutter_zero > :first-child { padding-left: var(--size-zero); }
.gutter_zero > :last-child { padding-right: var(--size-zero); }
.gutter_xsm > * { padding-left: var(--size-xsm); padding-right: var(--size-xsm); }
.gutter_xsm > :first-child { padding-left: var(--size-zero); }
.gutter_xsm > :last-child { padding-right: var(--size-zero); }
.gutter_sm > * { padding-left: var(--size-sm); padding-right: var(--size-sm); }
.gutter_sm > :first-child { padding-left: var(--size-zero); }
.gutter_sm > :last-child { padding-right: var(--size-zero); }
.gutter_md > * { padding-left: var(--size-md); padding-right: var(--size-md); }
.gutter_md > :first-child { padding-left: var(--size-zero); }
.gutter_md > :last-child { padding-right: var(--size-zero); }
.gutter_lg > * { padding-left: var(--size-lg); padding-right: var(--size-lg); }
.gutter_lg > :first-child { padding-left: var(--size-zero); }
.gutter_lg > :last-child { padding-right: var(--size-zero); }
.gutter_xlg > * { padding-left: var(--size-xlg); padding-right: var(--size-xlg); }
.gutter_xlg > :first-child { padding-left: var(--size-zero); }
.gutter_xlg > :last-child { padding-right: var(--size-zero); }
.gutter_xxlg > * { padding-left: var(--size-xxlg); padding-right: var(--size-xxlg); }
.gutter_xxlg > :first-child { padding-left: var(--size-zero); }
.gutter_xxlg > :last-child { padding-right: var(--size-zero); }

.wrap_true    { flex-wrap: wrap; }
.wrap_false   { flex-wrap: nowrap; }
.wrap_reverse { flex-wrap: wrap-reverse; }

.alignItems_stretch { align-items: stretch; }
.alignItems_center  { align-items: center; }
.alignItems_start   { align-items: flex-start; }
.alignItems_end     { align-items: flex-end; }

.justifyContent_start   { justify-content: flex-start; }
.justifyContent_end     { justify-content: flex-end; }
.justifyContent_center  { justify-content: center; }
.justifyContent_between { justify-content: space-between; }

.grow_true { flex-grow: 1; }

/* Col */
.col_width_5    { min-width: 5px; flex-basis: 5px; }
.col_width_10   { min-width: 10px; flex-basis: 10px; }
.col_width_15   { min-width: 15px; flex-basis: 15px; }
.col_width_20   { min-width: 20px; flex-basis: 20px; }
.col_width_25   { min-width: 25px; flex-basis: 25px; }
.col_width_30   { min-width: 30px; flex-basis: 30px; }
.col_width_35   { min-width: 35px; flex-basis: 35px; }
.col_width_40   { min-width: 40px; flex-basis: 40px; }
.col_width_45   { min-width: 45px; flex-basis: 45px; }
.col_width_50   { min-width: 50px; flex-basis: 50px; }
.col_width_60   { min-width: 60px; flex-basis: 60px; }
.col_width_70   { min-width: 70px; flex-basis: 70px; }
.col_width_80   { min-width: 80px; flex-basis: 80px; }
.col_width_90   { min-width: 90px; flex-basis: 90px; }
.col_width_100  { min-width: 100px; flex-basis: 100px; }
.col_width_120  { min-width: 120px; flex-basis: 120px; }
.col_width_130  { min-width: 130px; flex-basis: 130px; }
.col_width_140  { min-width: 140px; flex-basis: 140px; }
.col_width_150  { min-width: 150px; flex-basis: 150px; }
.col_width_160  { min-width: 160px; flex-basis: 160px; }
.col_width_170  { min-width: 170px; flex-basis: 170px; }
.col_width_180  { min-width: 180px; flex-basis: 180px; }
.col_width_190  { min-width: 190px; flex-basis: 190px; }
.col_width_200  { min-width: 200px; flex-basis: 200px; }
.col_width_210  { min-width: 210px; flex-basis: 210px; }
.col_width_220  { min-width: 220px; flex-basis: 220px; }
.col_width_230  { min-width: 230px; flex-basis: 230px; }
.col_width_240  { min-width: 240px; flex-basis: 240px; }
.col_width_250  { min-width: 250px; flex-basis: 250px; }
.col_width_260  { min-width: 260px; flex-basis: 260px; }
.col_width_270  { min-width: 270px; flex-basis: 270px; }
.col_width_280  { min-width: 280px; flex-basis: 280px; }
.col_width_290  { min-width: 290px; flex-basis: 290px; }
.col_width_300  { min-width: 300px; flex-basis: 300px; }
.col_width_320  { min-width: 320px; flex-basis: 320px; }
.col_width_340  { min-width: 340px; flex-basis: 340px; }
.col_width_360  { min-width: 360px; flex-basis: 360px; }
.col_width_380  { min-width: 380px; flex-basis: 380px; }
.col_width_400  { min-width: 400px; flex-basis: 400px; }
.col_width_450  { min-width: 450px; flex-basis: 450px; }
.col_width_500  { min-width: 500px; flex-basis: 500px; }
.col_width_550  { min-width: 550px; flex-basis: 550px; }
.col_width_600  { min-width: 600px; flex-basis: 600px; }
.col_width_650  { min-width: 650px; flex-basis: 650px; }
.col_width_700  { min-width: 700px; flex-basis: 700px; }
.col_width_750  { min-width: 750px; flex-basis: 750px; }
.col_width_800  { min-width: 800px; flex-basis: 800px; }
.col_width_850  { min-width: 850px; flex-basis: 850px; }
.col_width_900  { min-width: 900px; flex-basis: 900px; }
.col_width_950  { min-width: 950px; flex-basis: 950px; }
.col_width_1000 { min-width: 1000px; flex-basis: 1000px; }

.col_percent_5    { min-width: 5%; flex-basis: 5%; }
.col_percent_10   { min-width: 10%; flex-basis: 10%; }
.col_percent_15   { min-width: 15%; flex-basis: 15%; }
.col_percent_20   { min-width: 20%; flex-basis: 20%; }
.col_percent_25   { min-width: 25%; flex-basis: 25%; }
.col_percent_30   { min-width: 30%; flex-basis: 30%; }
.col_percent_33   { min-width: 33.333%; flex-basis: 33.333%; }
.col_percent_35   { min-width: 35%; flex-basis: 35%; }
.col_percent_40   { min-width: 40%; flex-basis: 40%; }
.col_percent_45   { min-width: 45%; flex-basis: 45%; }
.col_percent_50   { min-width: 50%; flex-basis: 50%; }
.col_percent_60   { min-width: 60%; flex-basis: 60%; }
.col_percent_66   { min-width: 66.666%; flex-basis: 66.666%; }
.col_percent_70   { min-width: 70%; flex-basis: 70%; }
.col_percent_80   { min-width: 80%; flex-basis: 80%; }
.col_percent_90   { min-width: 90%; flex-basis: 90%; }
.col_percent_100  { min-width: 100%; flex-basis: 100%; }

.col_grow_0 { flex-grow: 0; }
.col_grow_1 { flex-grow: 1; }