// Import Mixins
@import "../base-mixins/index";

.Button {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  @include border-radius(all, 3px);
  transition: all .5s;
  @include border(all, none);
}

// Display - Flex

.Button--display-inline-block {
  display: inline-block;
}

.Button--display-flex {
  @include flex-centered();
}

// Size

.Button--size-sm {
  @include padding(ends, 8px);
  @include padding(sides, 10px);
  @include font-size-in-rem(1.3);
  line-height: 100%;
}

.Button--size-md {
  @include padding(ends, 14px);
  @include padding(sides, 20px);
  @include font-size-in-rem(1.4);
  line-height: 100%;
}

.Button--size-lg {
  @include padding(ends, 18px);
  @include padding(sides, 30px);
  @include font-size-in-rem(1.5);
  line-height: 100%;
}

.Button--size-xlg {
  @include padding(ends, 22px);
  @include padding(sides, 60px);
  @include font-size-in-rem(1.8);
  line-height: 100%;
}

// Color

.Button--color-primary {
  @include color(primary);
}

.Button--color-secondary {
  @include color(secondary);
}

.Button--color-teriary {
  @include color(teriary);
}

.Button--color-grey {
  @include color(grey700);
}
.Button--color-white {
  @include color(white);
}

.Button--type-text {
  @include background-color(transparent);
  &:hover {
    @include background-color(grey);
  }
}

// Fill

.Button--fill-false {
  @include background-color(transparent);
  &.Button--color-primary {
    @include border(all, one, solid, primary);
    @include color(primary);
    &:hover {
      @include background-color(primary);
      @include color(white);
    }
  }
  &.Button--color-secondary {
    @include border(all, one, solid, secondary);
    @include color(secondary);
    &:hover {
      @include background-color(secondary);
      @include color(white);
    }
  }
  &.Button--color-tertiary {
    @include border(all, one, solid, tertiary);
    @include color(tertiary);
    &:hover {
      @include background-color(tertiary);
      @include color(white);
    }
  }
  &.Button--color-grey {
    @include border(all, one, solid, grey700);
    @include color(grey700);
    &:hover {
      @include background-color(grey700);
      @include color(white);
    }
  }
  &.Button--color-white {
    @include border(all, one, solid, white);
    &:hover {
      @include background-color(white);
      @include color(grey900);
    }
  }
  
}

.Button--fill-true {
  @include color(white);
  &.Button--color-primary {
    @include background-color(primary);
    &:hover {
      @include background-color(primaryDark);
    }
  }
  &.Button--color-secondary {
    @include background-color(secondary);
    &:hover {
      @include background-color(secondaryDark);
    }
  }
  &.Button--color-tertiary {
    @include background-color(tertiary);
    &:hover {
      @include background-color(tertiaryDark);
    }
  }
  &.Button--color-grey {
    @include background-color(grey700);
  }
  &.Button--color-white {
    @include background-color(white);
    @include color(primary);
    font-weight: 500;
  }
}