.Modal {
  position: fixed;
  z-index: 100;
  @include stretch-edges();
  @include flex-centered();
}

.Modal_bg {
  position: absolute;
  z-index: 1;
  @include stretch-edges(); 
  @include background-color(black);
  opacity: .7
}

.Modal_container {
  position: relative;
  z-index: 2;
  .Modal--type-default & {
    @include background-color(white);
    @include border-radius(all, tiny);
    @include padding(all, md);
    width: 500px;
    @include bp(sm) {
        width: 400px;
    }
    @include bp(xsm) {
        width: auto;
    }
  }
}

.Modal_header {
  @include font-size-in-rem(2.4);
  text-align: center;
}

.Modal_header ~ .Modal_body {
  @include margin(top, md);
}

.Modal_body {
  @include font-size-in-rem(1.6);
  @include color(grey600);
  text-align: center;
}

.Modal_actions {
  @include margin(top, md);
  @include flex-centered();
  & > * {
    @include margin(right, sm);
    &:last-child {
      @include margin(right, 0);
    }
  }
}