//--------------------
// Classes - Layout
//--------------------

// Set the bg color
body { @include background-color($default-background-color); }

// Stretch Edges
.Layout--stretch-edges { @include stretch-edges(); }
.Layout--stretch-edges-fixed { @include stretch-edges(); position: fixed; }

// Fixed width for container
.Layout--fixed-width { @include fixed-width(); }

 // Positioning
.Layout--centered           { @include flex-centered(); }
.Layout--justify-center     { @include justify-content(center); }
.Layout--justify-start      { @include justify-content(flex-start); }
.Layout--justify-end        { @include justify-content(flex-end); }
.Layout--justify-between    { @include justify-content(space-between); }
.Layout--justify-around     { @include justify-content(space-around); }
.Layout--align-center       { @include align-items(center); }
.Layout--align-stretch      { @include align-items(stretch); }
.Layout--align-start        { @include align-items(flex-start); }
.Layout--align-end          { @include align-items(flex-end); }
.Layout--align-baseline     { @include align-items(baseline); }
.Layout--align-self-start   { @include align-self(flex-start); }
.Layout--align-self-end     { @include align-self(flex-end); }
.Layout--align-self-center  { @include align-self(center); }
.Layout--row                { @include display-flex(); @include flex-direction(row); }
.Layout--col                { @include display-flex(); @include flex-direction(column); }
.Layout--wrap               { @include flex-wrap(wrap); }
.Layout--nowrap             { @include flex-wrap(nowrap); }
.Layout--wrap-reverse       { @include flex-wrap(wrap-reverse); }
.Layout--grow-1             { @include flex-grow(1); }
.Layout--grow-2             { @include flex-grow(2); }
.Layout--grow-3             { @include flex-grow(3); }
.Layout--grow-4             { @include flex-grow(4); }
.Layout--shrink-1           { @include flex-shrink(1); }
.Layout--shrink-2           { @include flex-shrink(2); }
.Layout--shrink-3           { @include flex-shrink(3); }
.Layout--shrink-4           { @include flex-shrink(4); }
.Layout--min-height-100vh   { min-height: 100vh; }

// Gutters
.Layout--cols-gutter-one   { &> * { @include padding(sides, one); }   &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-two   { &> * { @include padding(sides, two); }   &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-tiny  { &> * { @include padding(sides, tiny); }  &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-xxsm  { &> * { @include padding(sides, xxsm); }  &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-xsm   { &> * { @include padding(sides, xsm); }   &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-sm    { &> * { @include padding(sides, sm); }    &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-md    { &> * { @include padding(sides, md); }    &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-lg    { &> * { @include padding(sides, lg); }    &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-xlg   { &> * { @include padding(sides, xlg); }   &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-xxlg  { &> * { @include padding(sides, xxlg); }  &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }
.Layout--cols-gutter-jumbo { &> * { @include padding(sides, jumbo); } &> :first-child { @include padding(left, 0); } &> :last-child { @include padding(right, 0); } }

// Columns
.Layout--width-100 { @include flex-basis(100%); min-width: 100% }
.Layout--width-90  { @include flex-basis(90%); min-width: 90% }
.Layout--width-80  { @include flex-basis(80%); min-width: 80% }
.Layout--width-75  { @include flex-basis(75%); min-width: 75% }
.Layout--width-70  { @include flex-basis(70%); min-width: 70% }
.Layout--width-66  { @include flex-basis(66.666%); min-width: 66.666% }
.Layout--width-60  { @include flex-basis(60%); min-width: 60% }
.Layout--width-50  { @include flex-basis(50%); min-width: 50% }
.Layout--width-40  { @include flex-basis(40%); min-width: 40% }
.Layout--width-33  { @include flex-basis(33.333%); min-width: 33.333% }
.Layout--width-30  { @include flex-basis(30%); min-width: 30% }
.Layout--width-25  { @include flex-basis(25%); min-width: 25% }
.Layout--width-20  { @include flex-basis(20%); min-width: 20% }
.Layout--width-10  { @include flex-basis(10%); min-width: 10% }
.Layout--width-5   { @include flex-basis(5%); min-width: 5% }
.Layout--width-0   { @include flex-basis(0%); min-width: 0% }





.Layout--cols-2 {
  &> .Layout--col-1 { @include flex-basis((100%/2)*1); min-width: (100%/2)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/2)*2); min-width: (100%/2)*2 }
}
.Layout--cols-3 {
  &> .Layout--col-1 { @include flex-basis((100%/3)*1); min-width: (100%/3)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/3)*2); min-width: (100%/3)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/3)*3); min-width: (100%/3)*3 }
}
.Layout--cols-4 {
  &> .Layout--col-1 { @include flex-basis((100%/4)*1); min-width: (100%/4)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/4)*2); min-width: (100%/4)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/4)*3); min-width: (100%/4)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/4)*4); min-width: (100%/4)*4 }
}
.Layout--cols-5 {
  &> .Layout--col-1 { @include flex-basis((100%/5)*1); min-width: (100%/5)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/5)*2); min-width: (100%/5)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/5)*3); min-width: (100%/5)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/5)*4); min-width: (100%/5)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/5)*5); min-width: (100%/5)*5 }
}
.Layout--cols-6 {
  &> .Layout--col-1 { @include flex-basis((100%/6)*1); min-width: (100%/6)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/6)*2); min-width: (100%/6)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/6)*3); min-width: (100%/6)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/6)*4); min-width: (100%/6)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/6)*5); min-width: (100%/6)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/6)*6); min-width: (100%/6)*6 }
}
.Layout--cols-7 {
  &> .Layout--col-1 { @include flex-basis((100%/7)*1); min-width: (100%/7)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/7)*2); min-width: (100%/7)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/7)*3); min-width: (100%/7)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/7)*4); min-width: (100%/7)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/7)*5); min-width: (100%/7)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/7)*6); min-width: (100%/7)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/7)*7); min-width: (100%/7)*7 }
}
.Layout--cols-8 {
  &> .Layout--col-1 { @include flex-basis((100%/8)*1); min-width: (100%/8)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/8)*2); min-width: (100%/8)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/8)*3); min-width: (100%/8)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/8)*4); min-width: (100%/8)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/8)*5); min-width: (100%/8)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/8)*6); min-width: (100%/8)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/8)*7); min-width: (100%/8)*7 }
  &> .Layout--col-8 { @include flex-basis((100%/8)*8); min-width: (100%/8)*8 }
}
.Layout--cols-9 {
  &> .Layout--col-1 { @include flex-basis((100%/9)*1); min-width: (100%/9)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/9)*2); min-width: (100%/9)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/9)*3); min-width: (100%/9)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/9)*4); min-width: (100%/9)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/9)*5); min-width: (100%/9)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/9)*6); min-width: (100%/9)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/9)*7); min-width: (100%/9)*7 }
  &> .Layout--col-8 { @include flex-basis((100%/9)*8); min-width: (100%/9)*8 }
  &> .Layout--col-9 { @include flex-basis((100%/9)*9); min-width: (100%/9)*9 }
}
.Layout--cols-10 {
  &> .Layout--col-1 { @include flex-basis((100%/10)*1); min-width: (100%/10)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/10)*2); min-width: (100%/10)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/10)*3); min-width: (100%/10)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/10)*4); min-width: (100%/10)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/10)*5); min-width: (100%/10)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/10)*6); min-width: (100%/10)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/10)*7); min-width: (100%/10)*7 }
  &> .Layout--col-8 { @include flex-basis((100%/10)*8); min-width: (100%/10)*8 }
  &> .Layout--col-9 { @include flex-basis((100%/10)*9); min-width: (100%/10)*9 }
  &> .Layout--col-10 { @include flex-basis((100%/10)*10); min-width: (100%/10)*10 }
}
.Layout--cols-11 {
  &> .Layout--col-1 { @include flex-basis((100%/11)*1); min-width: (100%/11)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/11)*2); min-width: (100%/11)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/11)*3); min-width: (100%/11)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/11)*4); min-width: (100%/11)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/11)*5); min-width: (100%/11)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/11)*6); min-width: (100%/11)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/11)*7); min-width: (100%/11)*7 }
  &> .Layout--col-8 { @include flex-basis((100%/11)*8); min-width: (100%/11)*8 }
  &> .Layout--col-9 { @include flex-basis((100%/11)*9); min-width: (100%/11)*9 }
  &> .Layout--col-10 { @include flex-basis((100%/11)*10); min-width: (100%/11)*10 }
  &> .Layout--col-11 { @include flex-basis((100%/11)*11); min-width: (100%/11)*11 }
}
.Layout--cols-12 {
  &> .Layout--col-1 { @include flex-basis((100%/12)*1); min-width: (100%/12)*1 }
  &> .Layout--col-2 { @include flex-basis((100%/12)*2); min-width: (100%/12)*2 }
  &> .Layout--col-3 { @include flex-basis((100%/12)*3); min-width: (100%/12)*3 }
  &> .Layout--col-4 { @include flex-basis((100%/12)*4); min-width: (100%/12)*4 }
  &> .Layout--col-5 { @include flex-basis((100%/12)*5); min-width: (100%/12)*5 }
  &> .Layout--col-6 { @include flex-basis((100%/12)*6); min-width: (100%/12)*6 }
  &> .Layout--col-7 { @include flex-basis((100%/12)*7); min-width: (100%/12)*7 }
  &> .Layout--col-8 { @include flex-basis((100%/12)*8); min-width: (100%/12)*8 }
  &> .Layout--col-9 { @include flex-basis((100%/12)*9); min-width: (100%/12)*9 }
  &> .Layout--col-10 { @include flex-basis((100%/12)*10); min-width: (100%/12)*10 }
  &> .Layout--col-11 { @include flex-basis((100%/12)*11); min-width: (100%/12)*11 }
  &> .Layout--col-12 { @include flex-basis((100%/12)*12); min-width: (100%/12)*12 }
}





// Flex
// .Utils--justify-content-center        { @include justify-content(center); }
// .Utils--justify-content-flex-start    { @include justify-content(flex-start); }
// .Utils--justify-content-flex-end      { @include justify-content(flex-end); }
// .Utils--justify-content-space-between { @include justify-content(space-between); }
// .Utils--justify-content-space-around  { @include justify-content(space-around); }
// .Utils--align-items-center            { @include align-items(center); }
// .Utils--align-items-stretch           { @include align-items(stretch); }
// .Utils--align-items-flex-start        { @include align-items(flex-start); }
// .Utils--align-items-flex-end          { @include align-items(flex-end); }
// .Utils--align-items-baseline          { @include align-items(baseline); }
// .Utils--flex-direction-row            { @include flex-direction(row); }
// .Utils--flex-direction-column         { @include flex-direction(column); }
// .Utils--flex-grow-1                   { @include flex-grow(1); }
// .Utils--flex-grow-2                   { @include flex-grow(2); }
// .Utils--flex-shrink-1                 { @include flex-shrink(1); }
// .Utils--flex-shrink-2                 { @include flex-shrink(2); }
// .Utils--flex-wrap-wrap                { @include flex-wrap(wrap); }
// .Utils--flex-wrap-nowrap              { @include flex-wrap(nowrap); }
// .Utils--flex-wrap-wrap-reverse        { @include flex-wrap(wrap-reverse); }
// .Utils--flex-basis-100per             { @include flex-basis(100%); min-width: 100% }
// .Utils--flex-basis-90per              { @include flex-basis(90%); min-width: 90% }
// .Utils--flex-basis-80per              { @include flex-basis(80%); min-width: 80% }
// .Utils--flex-basis-75per              { @include flex-basis(75%); min-width: 75% }
// .Utils--flex-basis-70per              { @include flex-basis(70%); min-width: 70% }
// .Utils--flex-basis-66per              { @include flex-basis(66.666%); min-width: 66.666% }
// .Utils--flex-basis-60per              { @include flex-basis(60%); min-width: 60% }
// .Utils--flex-basis-50per              { @include flex-basis(50%); min-width: 50% }
// .Utils--flex-basis-40per              { @include flex-basis(40%); min-width: 40% }
// .Utils--flex-basis-33per              { @include flex-basis(33.333%); min-width: 33.333% }
// .Utils--flex-basis-30per              { @include flex-basis(30%); min-width: 30% }
// .Utils--flex-basis-25per              { @include flex-basis(25%); min-width: 25% }
// .Utils--flex-basis-20per              { @include flex-basis(20%); min-width: 20% }
// .Utils--flex-basis-10per              { @include flex-basis(10%); min-width: 10% }
// .Utils--flex-basis-5per               { @include flex-basis(5%); min-width: 5% }
// .Utils--flex-basis-0per               { @include flex-basis(0%); min-width: 0% }
// .Utils--flex-basis-100per-bpxlg       { @include bp(xlg) { @include flex-basis(100%); min-width: 100%; } }
// .Utils--flex-basis-90per-bpxlg        { @include bp(xlg) { @include flex-basis(90%); min-width: 90%; } }
// .Utils--flex-basis-80per-bpxlg        { @include bp(xlg) { @include flex-basis(80%); min-width: 80%; } }
// .Utils--flex-basis-75per-bpxlg        { @include bp(xlg) { @include flex-basis(75%); min-width: 75%; } }
// .Utils--flex-basis-70per-bpxlg        { @include bp(xlg) { @include flex-basis(70%); min-width: 70%; } }
// .Utils--flex-basis-66per-bpxlg        { @include bp(xlg) { @include flex-basis(66.666%); min-width: 66.666%; } }
// .Utils--flex-basis-60per-bpxlg        { @include bp(xlg) { @include flex-basis(60%); min-width: 60%; } }
// .Utils--flex-basis-50per-bpxlg        { @include bp(xlg) { @include flex-basis(50%); min-width: 50%; } }
// .Utils--flex-basis-40per-bpxlg        { @include bp(xlg) { @include flex-basis(40%); min-width: 40%; } }
// .Utils--flex-basis-33per-bpxlg        { @include bp(xlg) { @include flex-basis(33.333%); min-width: 33.333%; } }
// .Utils--flex-basis-30per-bpxlg        { @include bp(xlg) { @include flex-basis(30%); min-width: 30%; } }
// .Utils--flex-basis-25per-bpxlg        { @include bp(xlg) { @include flex-basis(25%); min-width: 25%; } }
// .Utils--flex-basis-20per-bpxlg        { @include bp(xlg) { @include flex-basis(20%); min-width: 20%; } }
// .Utils--flex-basis-10per-bpxlg        { @include bp(xlg) { @include flex-basis(10%); min-width: 10%; } }
// .Utils--flex-basis-5per-bpxlg         { @include bp(xlg) { @include flex-basis(5%); min-width: 5%; } }
// .Utils--flex-basis-0per-bpxlg         { @include bp(xlg) { @include flex-basis(0%); min-width: 0%; } }
// .Utils--flex-basis-100per-bplg        { @include bp(lg) { @include flex-basis(100%); min-width: 100%; } }
// .Utils--flex-basis-90per-bplg         { @include bp(lg) { @include flex-basis(90%); min-width: 90%; } }
// .Utils--flex-basis-80per-bplg         { @include bp(lg) { @include flex-basis(80%); min-width: 80%; } }
// .Utils--flex-basis-75per-bplg         { @include bp(lg) { @include flex-basis(75%); min-width: 75%; } }
// .Utils--flex-basis-70per-bplg         { @include bp(lg) { @include flex-basis(70%); min-width: 70%; } }
// .Utils--flex-basis-66per-bplg         { @include bp(lg) { @include flex-basis(66.666%); min-width: 66.666%; } }
// .Utils--flex-basis-60per-bplg         { @include bp(lg) { @include flex-basis(60%); min-width: 60%; } }
// .Utils--flex-basis-50per-bplg         { @include bp(lg) { @include flex-basis(50%); min-width: 50%; } }
// .Utils--flex-basis-40per-bplg         { @include bp(lg) { @include flex-basis(40%); min-width: 40%; } }
// .Utils--flex-basis-33per-bplg         { @include bp(lg) { @include flex-basis(33.333%); min-width: 33.333%; } }
// .Utils--flex-basis-30per-bplg         { @include bp(lg) { @include flex-basis(30%); min-width: 30%; } }
// .Utils--flex-basis-25per-bplg         { @include bp(lg) { @include flex-basis(25%); min-width: 25%; } }
// .Utils--flex-basis-20per-bplg         { @include bp(lg) { @include flex-basis(20%); min-width: 20%; } }
// .Utils--flex-basis-10per-bplg         { @include bp(lg) { @include flex-basis(10%); min-width: 10%; } }
// .Utils--flex-basis-5per-bplg          { @include bp(lg) { @include flex-basis(5%); min-width: 5%; } }
// .Utils--flex-basis-0per-bplg          { @include bp(lg) { @include flex-basis(0%); min-width: 0%; } }
// .Utils--flex-basis-100per-bpmd        { @include bp(md) { @include flex-basis(100%); min-width: 100%; } }
// .Utils--flex-basis-90per-bpmd         { @include bp(md) { @include flex-basis(90%); min-width: 90%; } }
// .Utils--flex-basis-80per-bpmd         { @include bp(md) { @include flex-basis(80%); min-width: 80%; } }
// .Utils--flex-basis-75per-bpmd         { @include bp(md) { @include flex-basis(75%); min-width: 75%; } }
// .Utils--flex-basis-70per-bpmd         { @include bp(md) { @include flex-basis(70%); min-width: 70%; } }
// .Utils--flex-basis-66per-bpmd         { @include bp(md) { @include flex-basis(66.666%); min-width: 66.666%; } }
// .Utils--flex-basis-60per-bpmd         { @include bp(md) { @include flex-basis(60%); min-width: 60%; } }
// .Utils--flex-basis-50per-bpmd         { @include bp(md) { @include flex-basis(50%); min-width: 50%; } }
// .Utils--flex-basis-40per-bpmd         { @include bp(md) { @include flex-basis(40%); min-width: 40%; } }
// .Utils--flex-basis-33per-bpmd         { @include bp(md) { @include flex-basis(33.333%); min-width: 33.333%; } }
// .Utils--flex-basis-30per-bpmd         { @include bp(md) { @include flex-basis(30%); min-width: 30%; } }
// .Utils--flex-basis-25per-bpmd         { @include bp(md) { @include flex-basis(25%); min-width: 25%; } }
// .Utils--flex-basis-20per-bpmd         { @include bp(md) { @include flex-basis(20%); min-width: 20%; } }
// .Utils--flex-basis-10per-bpmd         { @include bp(md) { @include flex-basis(10%); min-width: 10%; } }
// .Utils--flex-basis-5per-bpmd          { @include bp(md) { @include flex-basis(5%); min-width: 5%; } }
// .Utils--flex-basis-0per-bpmd          { @include bp(md) { @include flex-basis(0%); min-width: 0%; } }
// .Utils--flex-basis-100per-bpsm        { @include bp(sm) { @include flex-basis(100%); min-width: 100%; } }
// .Utils--flex-basis-90per-bpsm         { @include bp(sm) { @include flex-basis(90%); min-width: 90%; } }
// .Utils--flex-basis-80per-bpsm         { @include bp(sm) { @include flex-basis(80%); min-width: 80%; } }
// .Utils--flex-basis-75per-bpsm         { @include bp(sm) { @include flex-basis(75%); min-width: 75%; } }
// .Utils--flex-basis-70per-bpsm         { @include bp(sm) { @include flex-basis(70%); min-width: 70%; } }
// .Utils--flex-basis-66per-bpsm         { @include bp(sm) { @include flex-basis(66.666%); min-width: 66.666%; } }
// .Utils--flex-basis-60per-bpsm         { @include bp(sm) { @include flex-basis(60%); min-width: 60%; } }
// .Utils--flex-basis-50per-bpsm         { @include bp(sm) { @include flex-basis(50%); min-width: 50%; } }
// .Utils--flex-basis-40per-bpsm         { @include bp(sm) { @include flex-basis(40%); min-width: 40%; } }
// .Utils--flex-basis-33per-bpsm         { @include bp(sm) { @include flex-basis(33.333%); min-width: 33.333%; } }
// .Utils--flex-basis-30per-bpsm         { @include bp(sm) { @include flex-basis(30%); min-width: 30%; } }
// .Utils--flex-basis-25per-bpsm         { @include bp(sm) { @include flex-basis(25%); min-width: 25%; } }
// .Utils--flex-basis-20per-bpsm         { @include bp(sm) { @include flex-basis(20%); min-width: 20%; } }
// .Utils--flex-basis-10per-bpsm         { @include bp(sm) { @include flex-basis(10%); min-width: 10%; } }
// .Utils--flex-basis-5per-bpsm          { @include bp(sm) { @include flex-basis(5%); min-width: 5%; } }
// .Utils--flex-basis-0per-bpsm          { @include bp(sm) { @include flex-basis(0%); min-width: 0%; } }
// .Utils--flex-basis-100per-bpxsm       { @include bp(xsm) { @include flex-basis(100%); min-width: 100%; } }
// .Utils--flex-basis-90per-bpxsm        { @include bp(xsm) { @include flex-basis(90%); min-width: 90%; } }
// .Utils--flex-basis-80per-bpxsm        { @include bp(xsm) { @include flex-basis(80%); min-width: 80%; } }
// .Utils--flex-basis-75per-bpxsm        { @include bp(xsm) { @include flex-basis(75%); min-width: 75%; } }
// .Utils--flex-basis-70per-bpxsm        { @include bp(xsm) { @include flex-basis(70%); min-width: 70%; } }
// .Utils--flex-basis-66per-bpxsm        { @include bp(xsm) { @include flex-basis(66.666%); min-width: 66.666%; } }
// .Utils--flex-basis-60per-bpxsm        { @include bp(xsm) { @include flex-basis(60%); min-width: 60%; } }
// .Utils--flex-basis-50per-bpxsm        { @include bp(xsm) { @include flex-basis(50%); min-width: 50%; } }
// .Utils--flex-basis-40per-bpxsm        { @include bp(xsm) { @include flex-basis(40%); min-width: 40%; } }
// .Utils--flex-basis-33per-bpxsm        { @include bp(xsm) { @include flex-basis(33.333%); min-width: 33.333%; } }
// .Utils--flex-basis-30per-bpxsm        { @include bp(xsm) { @include flex-basis(30%); min-width: 30%; } }
// .Utils--flex-basis-25per-bpxsm        { @include bp(xsm) { @include flex-basis(25%); min-width: 25%; } }
// .Utils--flex-basis-20per-bpxsm        { @include bp(xsm) { @include flex-basis(20%); min-width: 20%; } }
// .Utils--flex-basis-10per-bpxsm        { @include bp(xsm) { @include flex-basis(10%); min-width: 10%; } }
// .Utils--flex-basis-5per-bpxsm         { @include bp(xsm) { @include flex-basis(5%); min-width: 5%; } }
// .Utils--flex-basis-0per-bpxsm         { @include bp(xsm) { @include flex-basis(0%); min-width: 0%; } }