.alert {
	position: relative;
	padding: var(--size-sm);
	font-size: var(--fontsize-text3);
	color: var(--color-grey900);
	font-weight: 500;
	color: var(--color-grey900);
	border-left-width: var(--size-xxsm);
	border-left-style: solid;
}

.alert:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .2;
}

.alert_info { border-left-color: var(--color-info); }
.alert_info:before { background-color: var(--color-info); }

.alert_success { border-left-color: var(--color-success); }
.alert_success:before { background-color: var(--color-success); }

.alert_warning { border-left-color: var(--color-warning); }
.alert_warning:before { background-color: var(--color-warning); }

.alert_error { border-left-color: var(--color-error); }
.alert_error:before { background-color: var(--color-error); }