// Shared Attributes

.Form__item--input,
.Form__item--textarea,
.Form__item--select {
  position: relative;
  margin-bottom: 18px;
  @include border(bottom, one, solid, grey);
  &:hover {
    @include border(bottom, one, solid, grey-darker);
  }
  .response {
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
    @include padding(sides, tiny);
    @include font-size-in-rem(1.3);
    line-height: 100%;
  }
}

.Form__item--input {
  height: 48px;
  input {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    z-index: 1;
    @include padding(sides, tiny);
    background: none;
    border: none;
    width: 100%;
    @include font-size-in-rem(1.6);
    @include color(grey-darkest);
    &::placeholder {
      @include color(grey);
      opacity: 1;
    }
  }
}

.Form__item--textarea {
  height: 98px;
  textarea {
    resize: none;
    position: absolute;
    @include padding(sides, tiny);
    top: 24px;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    line-height: 130%;
    background: none;
    border: none;
    @include color(grey-darkest);
    @include font-size-in-rem(1.6);
    &::placeholder {
      @include color(grey);
      opacity: 1;
    }
  }
}

label {
  position: absolute;
  top: 22px;
  left: 3px;
  @include color(grey-dark);
  @include font-size-in-rem(1.6);
  @include transition(all .2s);
}

.Form__item--dirty {
  label {
    top: 1px;
    @include font-size-in-rem(1.3);
  }
}

.Form__item--active {
  @include border(bottom, two, solid, info);
  &:hover {
    @include border(bottom, two, solid, info);
  }
  label {
    @include color(info);
  }
}

.Form__item--select {
  height: 48px;
  &:after {
    @include pseudo-mi("arrow_drop_down");
    @include color(grey-darkest);
    position: absolute;
    bottom: 4px;
    right: 0;
  }
  select {
    @include color(grey-darkest);
    @include font-size-in-rem(1.8);
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    z-index: 1;
    @include padding(sides, tiny);
    width: 100%;
    cursor: pointer;
    padding-right: 32px;
    border: 0;
    background: none;
    -moz-appearance: none;
    -moz-user-select: none;
    -webkit-appearance: none;
  }
}

.Form__item--checkbox {
  position: relative;
  margin-bottom: 18px;
  label {
    position: relative;
    top: 1px;
    display: block;
    height: 40px;
    cursor: pointer;
    input {
      opacity: 0;
      position: absolute;
    }
    .icon:before {
      @include pseudo-mi("check_box_outline_blank");
      height: 40px;
      width: 40px;
      @include flex-centered();
      position: absolute;
      top: 0;
      left: 0;
      @include color(grey-darker);
    }
    input:checked ~ .icon:before {
      content: "check_box";
      @include color(primary);
    }
    .label {
      padding-left: 40px;
      height: 40px;
      @include display-flex();
      @include align-items(center);
      @include color(grey-darker);
      @include font-size-in-rem(1.4);
    }
  }
  .response {
    display: block;
    position: absolute;
    left: 0;
    bottom: -18px;
    @include padding(sides, tiny);
    @include font-size-in-rem(1.3);
    line-height: 100%;
  }
}

.Form__item--checkbox-link {
  position: relative;
  z-index: 1;
  &:hover {
    text-decoration: underline;
  }
}

// Response Options

.Form__item--error {
  @include border(bottom, two, solid, error);
  @include background-color(lighten(map-get($colors, error), 43%));
  label {
    @include color(error);
  }
  &:hover {
    @include border(bottom, two, solid, error);
  }
  .response {
    @include color(error);
  }
}

.Form__item--warning {
  @include border(bottom, two, solid, warning);
  @include background-color(lighten(map-get($colors, warning), 30%));
  label {
    @include color(warning);
  }
  &:hover {
    @include border(bottom, two, solid, warning);
  }
  .response {
    @include color(warning);
  }
}

.Form__item--success {
  @include border(bottom, two, solid, success);
  @include background-color(lighten(map-get($colors, success), 47%));
  label {
    @include color(success);
  }
  &:hover {
    @include border(bottom, two, solid, success);
  }
  .response {
    @include color(success);
  }
}

.Form__item--info {
  @include border(bottom, two, solid, info);
  @include background-color(lighten(map-get($colors, info), 48%));
  label {
    @include color(info);
  }
  &:hover {
    @include border(bottom, two, solid, info);
  }
  .response {
    @include color(info);
  }
}